<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head_fragment(title = 'User List', links = ~{::link}, scripts = ~{::script})">
	<link rel="stylesheet" th:href="@{/css/pofile.css}">
	<script type="text/javascript" th:src="@{/js/profile.js}"></script>
	<!-- select2 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
</head>
<body>
	<!-- サイドバー -->
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/Sidenav :: sidenav"></div>
		<main class="page-content animsition">

			<div id="settings">
				<!-- tag title -->
				<input checked class="nav" name="nav" type="radio">
				<span class="nav">Profile</span>
				<input class="nav" name="nav" type="radio">
				<span class="nav">Account</span>
				<input class="nav" name="nav" type="radio">
				<span class="nav">Suggest</span>
				<input class="nav" name="nav" type="radio">
				<span class="nav">Advanced</span>
				
				<!-- profile content -->
				<main class="content">
					<section id="profile">
						<form th:action="@{/profile/ProfileEdit.do}" autocomplete="off" class="animsition"
							enctype="multipart/form-data" method="post" th:object="${profileEditForm}">
							<ul>
								<li class="large padding avatar">
									<img th:src="${targetUser.profileImage.encodedString}"
										 alt="" class="profile-photo" id="thumbnail" />
									<div>
										<fieldset class="material-button">
											<div>
												<label for="photo-file" class="btn btn-secondary btn-sm shadow-sm">Select File</label>
												<input type="file" id="photo-file" class="d-none" accept="image/*"
													th:field="*{uploadFile}" />
											</div>
										</fieldset>
									</div>
								</li>
								<li>
									<fieldset class="material">
										<div>
											<input type="text" th:field="*{name}" placeholder="ユーザー名">
											<label>Name</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li>
									<fieldset class="material">
										<div>
											<input id="zipcode" type="text" class="" th:field="*{zipcode}" placeholder="郵便番号"
												th:classappend="${#fields.hasErrors('zipcode') ? 'is-invalid bg-light' : ''}" />
											<label>Zipcode</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li>
									<fieldset class="material">
										<div>
											<span th:text="${targetUser.empNo}"></span>
											<label>User number</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li>
									<fieldset class="material">
										<div>
											<input id="pref" type="text" class="" th:field="*{pref}" placeholder="住所"
												th:classappend="${#fields.hasErrors('pref') ? 'is-invalid bg-light' : ''}" />
											<label>Address</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large">
									<fieldset class="material">
										<div>
											<label class="textarea-label">Hobby</label>
										    <select class="js-select2" multiple="multiple" th:field="*{hobbys}">
												<option value="プログラミング">プログラミング</option>
												<option value="アウトドア">アウトドア</option>
												<option value="ファッション">ファッション</option>
												<option value="筋トレ">筋トレ</option>
												<option value="映画">映画</option>
												<option value="漫画・アニメ">漫画・アニメ</option>
												<option value="ペット">ペット</option>
										    </select>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large">
									<fieldset class="material">
										<div>
											<label class="textarea-label">About me</label>
											<textarea th:field="*{aboutMe}" placeholder=""
												th:classappend="${#fields.hasErrors('aboutMe') ? 'is-invalid bg-light' : ''}" >
											</textarea>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large padding save-button">
									<fieldset class="material-button center">
										<div>
											<input class="save" type="submit" value="Save">
										</div>
									</fieldset>
								</li>
							</ul>
							<!-- ユーザー情報更新項目 -->
							<input type="hidden" th:field="*{userId}">
							<input type="hidden" th:field="*{empNo}">
							<input type="hidden" th:field="*{birthday}">
						</form>
					</section>
					
					<!-- account setting -->
					<section id="account">
						<form th:action="@{/profile/ProfileEdit.do}" autocomplete="off" class="animsition"
							enctype="multipart/form-data" method="post" th:object="${profileEditForm}">
							<ul>
								<li class="large padding avatar">
									<img th:src="${targetUser.profileImage.encodedString}"
										 alt="" class="profile-photo" id="thumbnail" />
								</li>
								<li>
									<fieldset class="material">
										<div>
											<label class="label-birthday">Birthday</label>
											<input type="date" th:field="*{birthday}" required="required" />
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large">
									<fieldset class="material">
										<div>
											<input type="email" placeholder="change your email" th:field="*{email}"
												th:classappend="${#fields.hasErrors('email') ? 'is-invalid bg-light' : ''}" />
											<span th:text="${email}"></span>
											<label>Email</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li>
									<fieldset class="material">
										<div>
											<input type="password" placeholder="change your password" th:field="*{password}"
												th:classappend="${#fields.hasErrors('password') || #fields.hasErrors('passwordConfirmed') 
																	? 'is-invalid bg-light' : ''}" />
											<label>Password</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li>
									<fieldset class="material">
										<div>
											<input type="password" placeholder="please re-enter." th:field="*{passwordConfirm}"
												th:classappend="${#fields.hasErrors('passwordConfirm') || 
																	#fields.hasErrors('passwordConfirmed') ? 'is-invalid bg-light' : ''}" />
											<label>Confirm Password</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large padding save-button">
									<fieldset class="material-button center">
										<div>
											<input class="save" type="submit" value="Save">
										</div>
									</fieldset>
								</li>
							</ul>
							<!-- ユーザー情報更新項目 -->
							<input type="hidden" th:field="*{userId}">
							<input type="hidden" th:field="*{aboutMe}">
							<input type="hidden" th:field="*{zipcode}">
							<input type="hidden" th:field="*{pref}">
							<input type="file" id="photo-file" class="d-none hidden" 
								   accept="image/*" th:field="*{uploadFile}" />
						    <select class="hidden" multiple="multiple" th:field="*{hobbys}">
								<option value="プログラミング">プログラミング</option>
								<option value="アウトドア">アウトドア</option>
								<option value="ファッション">ファッション</option>
								<option value="筋トレ">筋トレ</option>
								<option value="映画">映画</option>
								<option value="漫画・アニメ">漫画・アニメ</option>
								<option value="ペット">ペット</option>
						    </select>
						</form>
					</section>
					
					<!-- sujest users -->
					<section id="privacy">
						<div class="tab-content">
							<form th:object="${profileEditForm}" class="animsition sujest-users">
								<ul class="row">
									<!-- title -->
									<li class="large padding avatar">
										<div class="w-100">
											<span class="fw-bold">同じ趣味のユーザー</span>
										</div>
									</li>
									<!-- users card -->
									<li th:each="user : ${profileEditForm.sujestUsers}" class="user-card col-3">
										<div class="card-content card-rounded-7 p-1">
											<div class="zooming">
												<a th:href="|@{/profile/UserProfile.html}?id=${user.key}|" class="text-decoration-none">
													<img class="card-image" id="show-user-modal" th:src="${ user.value.profileImage.encodedString }">
												</a>
											</div>
											<div class="card-body">
												<h5 class="card-text">
													<a th:href="|@{/profile/UserProfile.html}?id=${user.key}|">
														<i class="fa fa-male"></i>
														<span th:text="${user.value.name}"></span>
													</a>
												</h5>
												<div>
													<a th:href="|@{/conversationTo/ChatRoom.html}?id=${ user.key }|" class="text-decoration-none"> 
														<i class="fas fa-sign-in-alt"></i>
									                	<span th:text="${ 'Chat Roomへ' }"></span>
													</a>
												</div>
											</div>
										</div>
									</li>									
								</ul>
							</form>
						</div>
					</section>
					
					<!-- and more -->
					<section class="upcoming" id="privacies">
						<h1>Coming soon!</h1>
					</section>
					<!-- section end -->
				</main>
			</div>




			<div th:replace="fragments/Toast :: toast"></div>
		</main>
		<!-- page-content" -->
	</div>
	<!-- page-wrapper -->
</body>
</html>