<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head_fragment(title = 'User Pofile', links = ~{::link}, scripts = ~{::script})">
	<link rel="stylesheet" th:href="@{/css/pofile.css}">
	<script type="text/javascript" th:src="@{/js/profile.js}"></script>
	<!-- select2 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
</head>
<body>
	<!-- サイドバー -->
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/Sidenav :: sidenav"></div>
		<main class="page-content animsition">

			<div id="settings">
				<!-- tag title -->
				<input checked class="nav" name="nav" type="radio">
				<span class="nav">Profile</span>
				<input class="nav" name="nav" type="radio">
				<span class="nav">Account</span>
				<input class="nav" name="nav" type="radio">
				<span class="nav">Suggest</span>
				<input class="nav" name="nav" type="radio">
				<span class="nav">Advanced</span>
				
				<!-- profile content -->
				<main class="content">
					<section id="profile">
						<form th:action="@{/profile/ProfileEdit.do}" autocomplete="off" class="animsition"
							enctype="multipart/form-data" method="post" th:object="${profileEditForm}">
							<ul th:with="pf = ${profileEditForm}" class="profile-list" >
								<li class="large padding avatar">
									<img th:src="${targetUser.profileImage.encodedString}"
										 alt="" class="profile-photo" id="thumbnail" />
								</li>
								<li>
									<fieldset class="material">
										<div>
											<span th:text="${targetUser.username}"></span>
											<label>Name</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li>
									<fieldset class="material">
										<div>
											<span th:text="${ pf.zipcode } != null ? ${ pf.zipcode }: '登録されていません。'"></span>
											<label>Zipcode</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li>
									<fieldset class="material">
										<div>
											<span th:text="${targetUser.empNo}"></span>
											<label>User number</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li>
									<fieldset class="material">
										<div>
											<span th:text="${ pf.pref } != null ? ${ pf.pref }: '登録されていません。'"></span>
											<label>Address</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large">
									<fieldset class="material">
										<div>
											<label class="textarea-label">Hobby</label>
										    <select class="js-select2" multiple="multiple" th:field="*{hobbys}" disabled>
												<option value="プログラミング">プログラミング</option>
												<option value="アウトドア">アウトドア</option>
												<option value="ファッション">ファッション</option>
												<option value="筋トレ">筋トレ</option>
												<option value="映画">映画</option>
												<option value="漫画・アニメ">漫画・アニメ</option>
												<option value="ペット">ペット</option>
										    </select>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large">
									<fieldset class="material">
										<div>
											<label class="textarea-label">About me</label>
											<textarea class="text-break" id="aboutMe" readonly
													  th:text="${ pf.aboutMe } != null ? ${ pf.aboutMe }: '登録されていません。'">
											</textarea>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large padding save-button" 
									th:if="${targetUser.id != #authentication.principal.id}">
									<fieldset class="material-button center">
										<div>
											<a th:href="|@{/conversationTo/ChatRoom.html}?id=${ targetUser.id }|" > 
												<button class="save" type="button">Chat Roomへ</button>
											</a>
										</div>
									</fieldset>
								</li>
							</ul>
						</form>
					</section>
					
					<!-- account setting -->
					<section id="account">
						<form autocomplete="off" class="animsition"
							  enctype="multipart/form-data" method="post" th:object="${profileEditForm}">
							<ul th:with="pf = ${profileEditForm}" class="profile-list">
								<li class="large padding avatar">
									<img th:src="${targetUser.profileImage.encodedString}"
										 alt="" class="profile-photo" id="thumbnail" />
								</li>
								<li class="large">
									<fieldset class="material">
										<div>
											<span th:text="${ targetUser.age } != null ? ${ targetUser.age }: '登録されていません。'"></span>
											<label class="label-birthday">age</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large">
									<fieldset class="material">
										<div>
											<span th:text="${ targetUser.birthday } != null ? ${ targetUser.birthday }: '登録されていません。'"></span>
											<label class="label-birthday">Birthday</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large">
									<fieldset class="material">
										<div>
											<span th:text="${ targetUser.email }"></span>
											<label>Email</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<li class="large">
									<fieldset class="material">
										<div>
											<span th:text="${ '********' }"></span>
											<label>Password</label>
											<hr>
										</div>
									</fieldset>
								</li>
								<th:block th:with="userRole = ${#authentication.principal.roles.get(0).code}">
									<li class="large padding save-button" 
										th:if="${userRole.equals('03') || targetUser.id == #authentication.principal.id}">
										<fieldset class="material-button center">
											<div>
												<a th:href="|@{/profile/Profile.html}?id=${targetUser.id}|">
													<button class="save" type="button">編集する</button>
												</a>
											</div>
										</fieldset>
									</li>
								</th:block>
							</ul>
						</form>
					</section>
					
					<!-- sujest users -->
					<section id="privacy">
						<div class="tab-content">
							<form th:object="${profileEditForm}" class="animsition sujest-users">
								<ul class="row">
									<!-- title -->
									<li class="large padding avatar">
										<div class="w-100">
											<span class="fw-bold">同じ趣味のユーザー</span>
										</div>
									</li>
									<!-- users card -->
									<li th:each="user : ${profileEditForm.sujestUsers}" class="user-card col-3">
										<div class="card-content card-rounded-7 p-1">
											<div class="zooming">
												<a th:href="|@{/profile/UserProfile.html}?id=${user.key}|" class="text-decoration-none">
													<img class="card-image" id="show-user-modal" th:src="${ user.value.profileImage.encodedString }">
												</a>
											</div>
											<div class="card-body">
												<h5 class="card-text">
													<a th:href="|@{/profile/UserProfile.html}?id=${user.key}|">
														<i class="fa fa-male"></i>
														<span th:text="${user.value.name}"></span>
													</a>
												</h5>
												<div>
													<a th:href="|@{/conversationTo/ChatRoom.html}?id=${ user.key }|" class="text-decoration-none"> 
														<i class="fas fa-sign-in-alt"></i>
									                	<span th:text="${ 'Chat Roomへ' }"></span>
													</a>
												</div>
											</div>
										</div>
									</li>									
								</ul>
							</form>
						</div>
					</section>
					
					<!-- and more -->
					<section class="upcoming" id="privacies">
						<h1>Coming soon!</h1>
					</section>
					<!-- section end -->
				</main>
			</div>




			<div th:replace="fragments/Toast :: toast"></div>
		</main>
		<!-- page-content" -->
	</div>
	<!-- page-wrapper -->
</body>
</html>