<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta th:name="_csrf" th:content="${_csrf.token}" />
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/post.css}">
	<link rel="stylesheet" th:href="@{/css/component.css}">
	<meta th:replace="fragments/Scripts :: scripts">
	<title>電子会議室</title>
</head>
<body>
	<div class="cover"></div>
	<div th:replace="fragments/Sidenav :: sidenav"></div>
	<div class="main d-flex flex-column">
		<div th:replace="fragments/Header :: header"></div>
		
		
		<form th:action="@{/manage/users/UserSearch.do}" th:object="${ topicSearchForm }">
			<div class="p-3">
				<h4>ユーザー情報一覧</h4>
			</div>
			<div class="p-3">
				<!-- 検索条件 -->
				<div class="d-flex align-items-between">
					<h5 class="me-2">検索条件</h5>
					<a href="#" id="condition-toggler" data-bs-toggle="collapse" data-bs-target="#searchCondition">
						<span class="d-none">[表示]</span>
						<span>[隠す]</span>
					</a>
				</div>
				<div id="searchCondition" class="collapse show">
					<div class="border p-3 rounded">
						<div class="d-flex align-items-top mb-2">
							<strong style="width: 10rem;">トピック</strong>
							<input type="text" class="form-control form-control-sm" style="width: 10rem;"
									th:field="*{ subject }" />
						</div>
						<div class="d-flex align-items-top mb-2">
							<strong style="width: 10rem;">投稿内容</strong>
							<input type="text" class="form-control form-control-sm" style="width: 16rem;"
									th:field="*{ postContent }" />
						</div>
						<div class="d-flex align-items-top mb-2">
							<strong style="width: 10rem;">投稿ユーザー</strong>
							<input type="text" class="form-control form-control-sm" style="width: 16rem;"
									th:field="*{ createByUser }" />
						</div>
					</div>
				</div>
				<div class="py-2">
					<button class="btn btn-success btn-sm shadow-sm px-3">
						<span>検索実行</span>
					</button>
				</div>
			</div>
		</form>
		
		
		
		
		<div class="container-fluid py-3" th:with="user=${#authentication.principal}">
			<!-- トピック新規登録 -->
			<div class="d-flex justify-content-end">
				<button class="btn btn-secondary btn-sm shadow-sm" data-bs-toggle="collapse"
						data-bs-target="#topicCreation">
						<span>トピック作成フォームを表示</span>
						<span class="d-none">トピック作成フォームを隠す</span>
				</button>
			</div>
			<div id="topicCreation" class="collapse mt-3" th:object="${topicCreationForm}"
				th:classappend="${topicCreationForm.isError ? 'show' : ''}">
				<form th:action="@{/comms/CreateTopic.do}" method="POST"
					class="border px-3 bg-light" autocomplete="off">
					<h5 class="my-3">トピック作成フォーム</h5>
					<div class="my-3">
						<label for="subject">トピックタイトル</label>
						<input type="text" class="form-control form-control-sm" style="width: 24rem;" 
							th:field="*{subject}" id="subject" />
						<div th:if="${#fields.hasErrors('subject')}">
							<span class="text-danger" th:errors="*{subject}"></span>
						</div>
					</div>
					<div class="my-3">
						<label for="primaryPost">投稿内容</label>
						<textarea id="primaryPost" th:field="*{primaryPost}" class="form-control form-control-sm" style="resize: none;"></textarea>
						<div th:if="${#fields.hasErrors('primaryPost')}">
							<span class="text-danger" th:errors="*{primaryPost}"></span>
						</div>
					</div>
					<div class="my-3 text-end">
						<button class="btn btn-success btn-sm shadow-sm">トピック作成</button>
					</div>
				</form>
			</div>
			<!-- トピック情報 -->
			<div th:each="topic : ${topics}">
				<div th:id="${topic.topicNo}" class="m-2">
					<div th:replace="fragments/Topic :: topic(${topic})"></div>
				</div>
			</div>
		</div>		
	</div>
	<div th:replace="fragments/Toast :: toast"></div>
	<script type="text/javascript" th:src="@{/js/meetingRoom.js}"></script>
</body>
</html>