<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head_fragment(title = '', links = ~{::link}, scripts = ~{::script})">
</head>
	<div th:fragment="caption" th:remove="tag">
		<h1 th:if="${message}" th:text="${message}"></h1>
	</div>
	<div th:fragment="header" th:remove="tag" >
			<!-- 
		<header class="navbar sticky-top sharedHeader" data-scroll-header>
			<div class="container-fluid">
				<span class="navbar-brand visible-lt-md text-light">Klein.Netwerk</span>
				<button type="button" class="btn sidenav-toggler text-light">
					<i class="bi bi-three-dots-vertical"></i>
				</button>
			</div>
		</header>
			 -->
		<div th:replace="fragments/Scripts :: scripts"></div>
		<div class="headerEnd"></div>
	</div>
</body>
</html>