<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="scripts" th:remove="tag">
	
		<!-- jQuery particles -->
		<!-- 
	    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
		<script type="text/javascript" th:src="@{/js/particles.js}"></script>
		 -->
		<!-- widget -->
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multiselect-widget/3.0.0/jquery.multiselect.js"></script>
		<!-- JS Sweet Alert 2 -->
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
		<!-- WebSockt -->
		<script	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
		<script	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<!-- floatThead -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/1.4.5/jquery.floatThead.js"></script>
		



		<!--  -->
		<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1/slick/slick.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/scroll-slide@2/src/index.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jstree@3/dist/jstree.min.js"></script>
		<!-- 
		<script src="https://cdn.jsdelivr.net/npm/goup@0.0.0/index.min.js"></script>
		 -->
		<script src="https://cdn.jsdelivr.net/npm/tooltip@1/src/index.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/pagepiling.js@1/jquery.pagepiling.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/unslider@2/src/js/unslider.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/autocomplete.js@0.38.0/index.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/counter.js@1/dist.min.js"></script>
	</div>
</body>
</html>