<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<!-- <article class="post-container"> -->
	<div th:fragment="topic(topic)" th:remove="tag">
	
		<!-- post header -->
		<div class="post-top-bar">
			<h4 class="name" th:text="${topic.subject}">topic</h4> 
			<form id="deleteForm" th:action="@{/comms/deleteTopic.do}" 
				  method="post" th:object="${ topicSearchForm }">
				<input type="hidden" name="topicNo" th:value="${topic.topicNo}" />
				<div th:if="${topic.isOwnedBy(user)}">
					<button id="topoicDelete" class="btn btn-link p-0 text-dark fs-5" title="トピック削除">
						<i class="fas fa-cog"></i>
					</button>
				</div>
			</form>
			<!--
			 -->		
 		</div>
		
		<!-- posts -->
		<div th:each="post : ${topic.posts}">
			<!-- auther -->
			<div class="profile-title">
				<!-- user icons -->
				<a th:href="|@{/profile/UserProfile.html}?id=${post.author.id}|">
					<img class="userImg" th:src="${ post.author.profileImage.encodedString }"/>
				</a>
				
				<!-- post content -->
				<div class="user-information-container">
					<p>
						<a href="#" class="name"> Charlie Marcotte </a>
					</p>
					<p class="job-title">UX Designer, Developer, Researcher</p>
					<p class="time-stamp">3h</p>
				</div>

				<!-- info -->
	 			<input class="toggle" type="checkbox" id="toggleFor" /> 
				<label id="toggle-info" for="toggleFor"></label>
				<aside class="toggle-options">
					<h3>Copy link to post</h3>
					<h3>Hide this post</h3>
					<h3>Unfollow Michael</h3>
					<h3>Report this post</h3>
				</aside>

			</div>
			
			<!-- content -->
			<div class="user-text">
				<p class="custom-text">"Lorem ipsum dolor sit amet, consectetur
					adipiscing elit, sed do eiusmod tempor incididunt ut labore et
					dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit
					esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
					cupidatat non proident, sunt in culpa qui officia deserunt mollit
					anim id est laborum."</p>
			</div>
			
			<!-- post footer -->
			<div class="bottom-bar-container">
				<div class="bottom-bar-social">
					<input id="like" type="checkbox" placeholder="" name="socialIcon" />
					<label class="social" for="like" id="liked-after"><span
						class="glyphicon glyphicon-thumbs-up"></span> Like</label> <input
						id="comment" type="checkbox" placeholder="" name="socialIcon" /> <label
						class="social" for="comment"><span
						class="glyphicon glyphicon-comment"></span> Comment</label> <input
						id="share" type="checkbox" placeholder="" name="socialIcon" /> <label
						class="social" for="share"><span
						class="glyphicon glyphicon-share-alt	"></span> Share</label><span
						class="icon fa fa-facebook-square"></span><span
						class="	icon fa fa-twitter-square"></span><span
						class="icon 	fa fa-google-plus-square"></span><span
						class="	icon fa fa-slack"></span>
					<div class="comment-box">
						<img
							src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjYAAAAJDBkMjZiYzJiLWEyYjgtNDNlZS04MDQ5LTg1NDI1YjVlYzJmMw.jpg" />
						<input type="text" placeholder="Add a comment..." />
					</div>
				</div>
			</div>
		</div>
		<!-- </article> -->
	</div>
</body>
</html>