<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<!-- <article class="post-container"> -->
	<div th:fragment="topic(topic)" th:remove="tag">
	
		<!-- post header -->
		<div class="post-top-bar row">
			<h4 class="name col-10" th:text="${topic.subject}">topic</h4> 
			<form id="deleteForm" class="col-2 text-end" th:action="@{/comms/deleteTopic.do}" 
				  method="post" th:object="${ topicSearchForm }">
				<input type="hidden" name="topicNo" th:value="${topic.topicNo}" />
				<div th:if="${topic.isOwnedBy(user)}">
					<button id="topoicDelete" class="btn btn-link p-0 text-dark fs-5" title="トピック削除">
						<i class="fas fa-cog"></i>
					</button>
				</div>
			</form>
			<!--
			 -->		
 		</div>
		
		<!-- posts -->
		<div th:each="post : ${topic.posts}" id="accordion" th:classappend="${post.isFirstPost()} ? accordion : submenu">
			<form id="ratingForm" th:action="@{/comms/PostRating.do}" method="post" 
				th:with="rateByUser=${post.getRateByUser(user)}" th:object="${ topicSearchForm }">
				<!-- auther -->
				<div class="profile-title">
					<!-- user icons -->
					<a th:href="|@{/profile/UserProfile.html}?id=${post.author.id}|">
						<img class="userImg" th:src="${ post.author.profileImage.encodedString }"/>
					</a>
					
					<!-- post content -->
					<div class="user-information-container">
						<p><span class="name" th:text="${post.author.username}"> Auther Name </span></p>
						<p class="job-title">UX Designer, Developer, Researcher</p>
						<p class="time-stamp">3h</p>
					</div>
	
					<!-- info -->
		 			<input class="toggle" type="checkbox" id="toggleFor" /> 
					<label id="toggle-info" for="toggleFor"></label>
					<aside class="toggle-options">
						<h3>Copy link to post</h3>
						<h3>Hide this post</h3>
						<h3>Unfollow Michael</h3>
						<h3>Report this post</h3>
					</aside>
				</div>
				
				<!-- content -->
				<div class="user-text">
					<div th:if="${ post.postImg }">
						<img class="postImg" th:src="${ post.postImg.encodedString }" />
					</div>
					<textarea class="form-control text-dark readonly p-0 auto-resize" readonly th:text="${post.postText}" name="postText" id="postText"></textarea>
				</div>
				
				<!-- post footer -->
				<div class="bottom-bar-container">
					<div class="bottom-bar-social">
						<!-- like -->
						<input id="like" type="checkbox" placeholder="" name="socialIcon" />
						<label class="social" for="like" id="liked-after">
							<span class="glyphicon glyphicon-thumbs-up">Like</span>
						</label>
						<input id="comment" type="checkbox" placeholder="" name="socialIcon" />
						<!-- comment -->
						<label class="social" for="comment">
							<span class="glyphicon glyphicon-comment">Comment</span>
						</label>
						<!-- Smooth Drop Down menu -->
						<label class="social link text-end" th:if="${post.isFirstPost() && topic.posts.size() > 1}">
							<i class="fa fa-chevron-down"></i>
						</label>
						<!-- comment contents -->
						<div class="comment-box">
							<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjYAAAAJDBkMjZiYzJiLWEyYjgtNDNlZS04MDQ5LTg1NDI1YjVlYzJmMw.jpg" />
							<input type="text" placeholder="Add a comment..." />
						</div>
					</div>
				</div>				
				<!-- end -->
			</form>
		</div>
		<!-- </article> -->
	</div>
</body>
</html>