<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<!-- <article class="post-container"> -->
	<div th:fragment="topic(topic)" th:remove="tag">
	
		<!-- post header -->
		<div class="post-top-bar row">
			<h4 class="name col-10" th:text="${topic.subject}">topic</h4> 
			
			<form id="deleteForm" class="col-2 text-end" th:action="@{/comms/deleteTopic.do}" 
				  method="post" th:object="${ topicSearchForm }">
				<input type="hidden" name="topicNo" th:value="${topic.topicNo}" />
				<div th:if="${topic.isOwnedBy(user)}">
					<button id="topoicDelete" class="btn btn-link p-0 text-dark fs-5" title="トピック削除">
						<i class="bi bi-trash"></i>
					</button>
				</div>
			</form>

 		</div>
		
		<!-- posts -->
			<div th:each="post : ${topic.posts}" id="accordion" th:classappend="${post.isFirstPost()} ? ac-parent : ac-child">
		
				<form id="ratingForm" th:action="@{/comms/PostRating.do}" method="post" 
					th:with="rateByUser=${post.getRateByUser(user)}" th:object="${ topicSearchForm }">
					<!-- auther -->
					<div class="profile-title">
						<!-- user icons -->
						<a th:href="|@{/profile/UserProfile.html}?id=${post.author.id}|">
							<img class="userImg" th:src="${ post.author.profileImage.encodedString }"/>
						</a>
						
						<!-- post content -->
						<div class="user-information-container">
							<p><span class="name" th:text="${post.author.username}"> Auther Name </span></p>
							<p class="job-title">UX Designer, Developer, Researcher</p>
							<p class="time-stamp">3h</p>
						</div>
		
						<!-- info -->
						<button th:if="${post.isPostedBy(user)}"
								id="postEdit" type="button" title="投稿編集" class="btn btn-link p-0 text-dark fs-5"
								th:data-ts-target="|#${topic.topicNo + post.postNo}|">
							<i class="bi bi-pencil-square"></i>
						</button>
						
					</div>
					
					<!-- content -->
					<div class="user-text">
						<div th:if="${ post.postImg }">
							<img class="postImg" th:src="${ post.postImg.encodedString }" />
						</div>
						<textarea class="form-control text-dark readonly p-0 auto-resize" readonly th:text="${post.postText}" name="postText" id="postText"></textarea>
					</div>
					
								<div class="py-2 d-flex justify-content-end d-none" th:if="${post.isPostedBy(user)}" th:id="${(topic.topicNo) + (post.postNo)}">
									<!-- update -->
									<button id="textEdit" type="button" class="btn btn-success btn-sm me-2 shadow-sm">編集</button>
									<!-- 投稿削除 NG-->
									<button th:if="${topic.posts.size() > 1}" id="textDelete" type="button" class="btn btn-secondary btn-sm me-2 shadow-sm">削除</button>
								</div>
								
								<input type="hidden" name="topicNo" th:value="${topic.topicNo}" />
								<input type="hidden" name="postNo" th:value="${post.postNo}" />
					
					<!-- end -->
				</form>
					<!-- post footer -->
					<div class="bottom-bar-container">
						<div class="bottom-bar-social">
							<form id="ratingForm" th:action="@{/comms/PostRating.do}" method="post" 
								th:with="rateByUser=${post.getRateByUser(user)}" th:object="${ topicSearchForm }">
								<!-- like -->
								<div class="d-flex align-items-baseline">
									<!-- 
									<input type="hidden" th:text="${rateByUser.rater}">
									<input type="hidden" th:text="${rateByUser.rater == 0}">
									 -->
									<button type="button" class="like-count btn btn-link text-dark ajax-link" 
											th:data-ts-param="1" th:disabled="${post.isPostedBy(user)}">
										<th:block th:if="!${rateByUser.rater}">
											<i class="far fa-star"></i>
										</th:block>
										<th:block th:if="${rateByUser.rater}">
											<div th:unless="${rateByUser.rater.id == user.id && rateByUser.rating gt 0 }">
												<i class="far fa-star"></i>
											</div> 
											<div th:if="${rateByUser.rater.id == user.id && rateByUser.rating gt 0 }">
												<i class="fas fa-star"></i>
											</div>
										</th:block>							 
									</button>
									<span class="like-counter ps-1 pt-1" th:text="${rateByUser.goodRatings.size()}">13</span>
								</div>
							</form>
							<!-- comment -->
							<label class="social comment" for="comment" th:if="${ post.isFirstPost() || post.isLastPost(topic.posts) }">
								<span class="glyphicon glyphicon-comment">
									<i class="far fa-comment-alt"></i>
								</span>
							</label>
							<!-- Smooth Drop Down menu -->
							<label class="social link down-menu" th:if="${ post.isFirstPost() && post.is1OrMore(topic.posts) }">
								<i class="fa fa-chevron-down"></i>
							</label>
							<!-- comment contents -->
							<div class="comment-box">
								<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjYAAAAJDBkMjZiYzJiLWEyYjgtNDNlZS04MDQ5LTg1NDI1YjVlYzJmMw.jpg" />
								<input type="text" placeholder="Add a comment..." />
							</div>
						</div>
					</div>				
			</div>
		</div>
		<!-- </article> -->
	</div>
</body>
</html>