@charset "UTF-8";
/****** More of My Resets *******/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-wrapper .page-content {
	height: 100vh;
}

/****** font *******/

html {
	font-size: .95px;
}

body, .sidebar-brand a, .sidebar-menu li {
	font-size: 16rem;
}

.swal2-popup {
	font-size: 12rem !important;
}

.swal2-actions .btn {
    font-size: 16rem;
    padding: 5px 7px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px #1c181836;
}


/****** other *******/

ul, li {
	list-style: none;
}

.sidebar-footer .btn {
	font-size: 16px;
	margin-top: 3.5px;
}

button {
	background-color: transparent;
	color: inherit;
	border-width: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	text-align: inherit;
}

img {
	display: block;
	max-width: 100%;
}

/* Responsive Variables */
@media ( min-width : 886px) {
	.is-only-mobile {
		display: none !important;
	}
}
/* Multi direcrtion Languages Support Variables*/
/* colors */
:root {
  --white:#fff;
  --dark-gray:#333;
  --main-gray:#ededed;
  --light-gray:#f7f7f7;
  --dark-green:#009688;
  --info-message:rgba(225,245,254,.92);
  /* blue messages */
}

/*scrolls*/
::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.08);
}

.main-grid {
	font-size: 17rem;
	line-height: 1.3;
	color: var(--dark-gray);
}

/* background */
html {
  background: linear-gradient(to bottom, var(--dark-green) 1px, var(--dark-green) 130px, #dddbd1 131px, #d2dbdc 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* utilities classes (always with !important)*/
.u-flex {
  display: flex !important;
}

.u-header {
	margin-left: 17px;
}

.u-flex-column {
  flex-direction: column !important;
}

.u-margin-end {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.u-hide {
  display: none !important;
}

/* animation */
@keyframes clickableAnimation {
  0% {
    transform: scale(1);
  }
  95% {
    transform: scale(1);
  }
  96% {
    transform: scale(1.5) rotate(-30deg);
  }
  97% {
    transform: scale(1.5) rotate(30deg);
  }
  100% {
    transform: scale(1);
  }
}
.u-animation-click {
  animation: clickableAnimation 20s ease-in-out -17s infinite;
}

/*icons*/
.icon-back {
  transform: scale(1.4);
  transform-origin: center;
}

.icon-status {
  filter: grayscale(1) opacity(0.3) invert(1);
}

.icon-silent {
  filter: grayscale(1) opacity(0.3);
}

.icon-attach {
  /*transform:rotateZ(70deg); transform-origin:center*/
}

.icon-menu {
  text-align: center;
}

.icon-menu::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dark-gray);
  box-shadow: 0px -6px var(--dark-gray), 0px 6px var(--dark-gray);
}

/* Grid Layout */
.main-grid {
  --private-block-margins:0;
  height: 100vh;
  position: relative;
  left: 0;
  right: 0;
  top: var(--private-block-margins);
  bottom: var(--private-block-margins);
  overflow: hidden;
}

@media ( max-width : 885px) , ( min-width : 886px) and (max-width: 1023px) , (
		min-width : 1024px) and (max-width: 1439px) {
	.main-grid>* {
		max-height: 100vh;
	}
}

@media ( min-width : 1440px) {
	.main-grid>* {
		max-height: calc(100vh - 40px);
	}
}

@media ( min-width : 1440px) {
	.main-grid { 
	--private-block-margins: 20px;
		width: 1396px;
		margin: 0 auto;
	}
}

@media ( min-width : 886px) {
	.main-grid {
		display: grid;
		grid-template-areas: "side-a main side-b";
		grid-template-columns: minmax(260px, 30%) 1fr auto;
	}
}

@media ( max-width : 885px) {
	.main-grid.is-main-info-open .main-side {
		display: none;
	}
	.main-grid.is-main-info-open .main-content {
		display: none;
	}
	.main-grid.is-main-info-open .main-info {
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 886px) and (max-width: 1023px) {
  .main-grid.is-main-info-open {
    grid-template-areas: "side-a side-b";
    grid-template-columns: minmax(260px, 30%) 1fr;
  }

  .main-grid.is-main-info-open .main-content {
    display: none;
  }

  .main-grid.is-main-info-open .main-info {
    width: auto;
  }
}
@media (max-width: 885px) {
  .main-grid.is-message-open .main-content {
    transform: translateX(-100%);
  }
}
.main-side  {
	grid-area: side-a;
}

.main-content {
	grid-area: main;
}

.main-info {
	grid-area: side-b;
}

/* elements */
.profile-image-div {
    max-width: 48px; 
}

.profile-image {
	height: 48px;
	border-radius: 50%;
}

.big-title {
	margin: 5px 0;
	font-size: 19rem;
}

.section-title {
	color: var(--dark-green);
	font-size: 14rem;
	margin-bottom: 10px;
}

.info-text {
	font-size: 14rem;
	color: rgba(0, 0, 0, 0.45);
}

.status {
	letter-spacing: -14px;
	filter: grayscale(1);
}

.status.is-seen {
	filter: grayscale(0);
}

.text-input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--white);
    border-radius: 10px;
    border-width: 0;
    overflow-y: scroll;
}

.common-search .text-input {
    margin: 5px 10px;
    border-radius: 20px;
	padding: 10px;
}

.message-box .text-input {
	border-radius: 10px;
	margin: 0 10px;
	padding: 5px;
	min-height: 72px;
	max-height: 147px;
 	-ms-overflow-style: none;
	scrollbar-width: none;
}

.message-box .text-input::-webkit-scrollbar {
	display: none;
}

.text-input:focus {
	outline: none;
}

#submit-button, #img-send-button {
	background: rgb(124 98 98/ 17%);
	border-radius: 6px;
}

.common-search {
	display: flex;
	flex-shrink: 0;
	background: var(--light-gray);
	position: relative;
	transition: 0.2s;
}

.common-search::before {
	content: "🔎";
	position: absolute;
	left: 36px;
	top: 18px;
	filter: grayscale(1) opacity(0.5);
	top: 18px;
}

.common-search:focus-within {
  background-color: var(--white);
}

.common-search .text-input {
  flex: 1;
  padding-left: 50px;
  margin: 8px 16px;
}

.unread-messsages {
  display: block;
  min-width: 20px;
  padding: 3px;
  border-radius: 12px;
  margin: 0 5px;
  background-color: #3cdf7a;
  color: var(--white);
  font-size: 12rem;
  font-weight: bold;
  text-align: center;
}

.unread-messsages:empty {
  display: none;
}

.common-button {
  padding: 8px;
}

.common-button:hover, .common-button:focus {
  outline: none;
}

.common-button:hover .icon, .common-button:focus .icon {
  filter: grayscale(1) opacity(1);
}

.common-button .icon {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  filter: grayscale(1) opacity(0.5);
  transition: 0.2s;
}

.common-button .fas, .common-button .far {
	margin-top: 6px;
}

.twitter {
  display: block;
  color: #1da1f2;
}

.twitter-label {
  margin-right: 10px;
}

.twitter-user {
  font-size: 20px;
}

/*** components ***/
.common-header {
  --common-header-border-color:#e0e0e0;
  display: flex;
  background-color: var(--main-gray);
  height: 60px;
  padding: 6px 16px;
  flex-shrink: 0;
}

.common-header-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.common-header-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: smaller;
}

.common-header-start {
  display: flex;
  margin-right: auto;
}

.common-header-content {
  margin: auto 15px;
  line-height: 1.5;
}

.common-nav-list {
  display: flex;
}

.common-nav-item {
  margin-left: 10px;
}

/*main*/
.main-content {
  display: flex;
  flex-direction: column;
}

.main-content .common-header {
  border-left: solid 1px var(--common-header-border-color);
}

@media (max-width: 885px) {
  .main-content {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: transform 0.4s;
  }
}
.messanger {
  overflow-y: auto;
  scrollbar-width: thin;
  /*-webkit-overflow-scrolling:touch;*/
  flex: 1;
  background-color: #e5ddd5;
}

.messanger-list {
  display: flex;
  flex-direction: column;
  padding: 20px 7%;
}

.common-message {
  position: relative;
  background-color: var(--white);
  /*
  */
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80vh;
  overflow-wrap: break-word;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  margin-bottom: 10px;
}

.common-message .massage-footer {
	margin-top: 9px;
}

.massage-footer time {
	font-size: 11rem;
	color: rgba(0, 0, 0, 0.45);
	float: left;
	margin-right: 10px;
}

.massage-footer a {
	float: right;
}

.common-message i {
	font-size: 14rem;
	color: rgba(0, 0, 0, 0.45);
	float: right;
    cursor: pointer;
}

.common-message .status {
  float: right;
  padding-right: 10px;
  text-align: end;
}

.common-message::before {
  position: absolute;
  left: -10px;
  top: 0;
  content: "";
  display: block;
  border: solid;
  border-width: 0px 16px 16px 0px;
  border-color: transparent;
  border-right-color: var(--white);
}

.common-message.is-you {
  --user-color-message:#cfe9ba;
  align-self: flex-end;
  background-color: var(--user-color-message);
}

.common-message.is-you::before {
  left: auto;
  right: -28px;
  border-width: 0px 16px 16px 16px;
  border-color: transparent;
  border-left-color: var(--user-color-message);
}

.common-message.is-you + .is-you::before {
  display: none;
}

.common-message.is-other + .is-other::before {
  display: none;
}

.common-message.is-time {
  align-self: center;
  background-color: var(--info-message);
  color: rgba(74, 74, 74, 0.88);
  font-size: 12rem;
  text-transform: uppercase;
}

.common-message.is-time::before {
  display: none;
}

.message-box {
	display: flex;
	flex-shrink: 0;
	background-color: #f0f0f0;
	padding: 10px;
	height: 100%;
}

.message-box .text-input {
  flex: 1;
}

.message-box .text-input:empty::before {
  content: "Type a message";
  font-size: 15rem;
  opacity: 0.5;
}

/*side (users)*/
.main-side {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.chats {
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: var(--white);
}

.chats-item-button {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 15px;
  padding: 0 15px;
  cursor: pointer;
  grid-template-areas: "image header" "image content";
}

.chats-item-button:focus {
  background-color: #ebebeb;
  outline: none;
}

.chats-item .profile-image , .user-profile{
  grid-area: image;
}

.chat-reception{
	color: black;
}

.chat-reception:hover{
	color: #0d6efd;
}

.chats-item-header {
  grid-area: header;
}

.chats-item-content {
  grid-area: content;
}

.chats-item .profile-image-link {
	margin: auto;
}

.chats-item .profile-image, .user-profile {
	height: 48px;
	margin: 5px auto auto;
}

.chats-item-header {
	display: flex;
	padding-top: 10px;
	height: 36px;
}

.chats-item-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  flex: 1;
  font-weight: bold;
  margin-right: 10px;
}

.chats-item-time {
  font-size: 12rem;
  opacity: 0.6;
}

.chats-item-last {
  flex: 1;
  opacity: 0.6;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.chats-item-content {
  display: flex;
  padding-bottom: 10px;
  border-bottom: solid 1px #f2f2f2;
}

.chats-item-info {
  display: flex;
}

.chats-item:last-child .chats-item-content {
  border-bottom-width: 0;
  padding-right: 10rem;
}

/*side (chat info)*/
.main-info {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 300px;
}

.main-info .common-header {
  border-left: solid 1px var(--common-header-border-color);
}

.main-info-content  {
	overflow-y: auto;
	scrollbar-width: thin;
	background-color: var(--light-gray);
}

.main-info-image {
	display: block;
	max-width: 200px;
	max-height: 150px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 3%;
}

.common-box {
	background-color: var(--white);
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
	margin-bottom: 10px;
}

.common-box p {
	font-size: 14rem;
	color: #4a4a4a;
}




.connecting {
	padding-top: 5px;
	text-align: center;
	color: #777;
	top: 65px;
	width: 100%;
}

.file-upload {
    width: 30%;
    margin: 12px 0 0 auto;
    min-width: 260px;
}

.action-container .file-upload {
	width: 80%;
	margin-bottom: 9.5px;
}

.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #1FB264;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #15824B;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.file-upload-btn:hover {
	background: rgba(155, 214, 151, 0.2); 
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}

.file-upload-btn:active {
	border: 0;
	transition: all .2s ease;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.image-title-wrap {
    background: #816c6c29;
    border-radius: 5px;
    width: calc(100% + 16px);
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	border: 4px dashed #1FB264;
	position: relative;
	height: 101%;
}

.image-dropping, .image-upload-wrap:hover {
	background-color: rgba(155, 214, 151, 0.2); 
/* 	border: 4px dashed #ffffff; */
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
	font-weight: 30;
	color: #15824B;
	padding: 60px 0;
}

.file-upload-image {
    border-radius: 4%;
    margin: auto;
    max-height: 300px;
    max-width: 250px;
}

.remove-image {
	color: #fff;
    background: rgb(199 100 87 / 60%);
    padding: 3px 5.7px;
    margin-left: 4px;
    height: 21.7px;
    border-radius: 4px;
}

.remove-image:hover {
	background: rgb(199 100 87 / 90%);
	color: #ffffff;
	cursor: pointer;
}

.remove-image:active {
	border: 0;
	transition: all .2s ease;
}
