@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


html, body {
	/*
	height: 100%;
	width: 100%;
    background: url(/img/maxresdefault.jpg)center / cover;;
	background-color: #a9a9a9;
	min-height: 100vh;
	*/
	width: 100%;
    font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
	font-size: 16px;
}

.sharedHeader{
	position: fixed;
	width: 100%;
	background: linear-gradient(to top, #333333, #999999);
}

header, navHeader {
	height: 58px;	
}

.headerEnd{
	margin-bottom: 55px;
}

.main {
	height: 100%;
	overflow: auto;
	position: relative;
}

#toast {
	position: absolute;
	z-index: 1030;
}

#disabled_do{
	opacity: 0.65;
	pointer-events: none;
}

.hidden {
    display: none;
}

#particles-js{
	position: fixed;
	z-index: -100000;
	height: 100%;
	width: 120%;
}

.footer {
	height: 3rem;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
}

/* toast */
#toast {
	width: 360px;
	padding: 0 8px;
    border-radius: 10px;
}

#toast-header, #toast-message {
	padding: 8px 0;
}

#toast-color {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}


@media ( min-width: 1200px) {
	.main {
		margin-left: 240px;
	}
	.footer {
		margin-left: 240px;
	}
}