@charset "UTF-8";

#wkSelect{
    position: absolute;
    z-index: 2500;
}

.toEnterToChatRoom{
  position: relative;
  padding: 20px;
  background-color: #fff3ad;
  display: inline-block;     /* 横幅を自動で変更 */
}

/* beforeで三角を表現 */
.toEnterToChatRoom::before{
  content: '';
  position: absolute;
  left: 20px;
  top: -15px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff3ad;
  border-left: 15px solid transparent;
}