
#pagepiling {
	height: 100%;
	transition: all 1s ease;
}

h1, .h1 {
	font-size: 5em;
}

h2, .h2 {
	font-size: 4em;
}

h3, .h3 {
	font-size: 3em;
}

h4, .h4 {
	font-size: 2em;
}

h5, .h5 {
	font-size: 1em;
}

h6, .h6 {
	font-size: 1em;
	font-style: italic;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	text-transform: uppercase;
	font-weight: 800;
}

.pp-section{
	position: relative;
}

.section {
	text-align: center;
	padding: 50px 25px;
	opacity: 0;
	transform: all 0.7s ease;
	
	display: inline-block;
	width: 100%;
}


.section p {
	width: 500px;
	max-width: 100%;
	margin: 25px auto;
}

.section.active {
	opacity: 1;
}

.btn-ux {
	font-size: 14px;
	font-weight: lighter;
	background-color: transparent;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-color: #fff;
	padding: 8px 20px;
	border-radius: 3px;
	text-transform: uppercase;
	outline: none;
	font-weight: 500;
	transition: all 0.2s ease-out;
}

.btn-ux:hover {
	color: #4b5259;
	background-color: #fff;
}

.btn-black {
	border: 1px solid rgba(75, 82, 89, 0.5);
	color: #4b5259;
	background-color: #fff;
}

.btn-black:hover {
	background-color: #4b5259;
	color: #fff;
	border: 1px solid #4b5259;
}

.blank {
	height: 60%;
	color: #4b5259;
	background-color: #fff;
	padding: 25px 30px;
	border-radius: 10px;
	margin: 20px 40px;
}

.blank h1, .blank h2, .blank h3, .blank h4, .blank h5, .blank h6 {
	margin: 0 0 5px;
}

.blank p {
	margin: 0 0 20px;
	padding: 5px 10px;
}


@media screen and (min-width: 768px) {
	.section {
		padding-left: 267px;
	}
}

