@charset "UTF-8";

.slide {
	/*
	position: fixed;
	top: 65px;
	width: 81.1%;
	display:inline-block;
	z-index: 500;
	*/
}

.about{
	font-size: 18px;
}

.bd-placeholder-img {
	font-size: 0.2rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#acMenu dt {
	width: 100px;
	display: block;
	cursor: pointer;
}

#acMenu dd:nth-of-type(n+2){
	display: none;
}

/* mediaquery */
@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		margin-top: 2rem;
		font-size: 1.5rem;
	}
}


