
/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
	position: fixed;
	top: 0;
	right: 0;
	transition: background 0.5s ease-in-out;
}

.center{
	margin :0 auto;
}

main {
	background: #e5ddd5
}

.topics{
	margin: 0;
	overflow: auto;
	transition-duration: 1s;
}

.page-content .navbar{
	min-height: 58px;	
}

#home:hover {
	transform: scale(1.1)
}

.zooming:hover img {
	transform: scale(1.2)
/*
  --scale-ratio: 2.0;
  --width-length: 32px;
  --height-length: 32px;

  position: absolute;
  width: var(--width-length);
  height: var(--height-length);
  left: calc( ((var(--scale-ratio) - 1) * var(--width-length) ) / 2);
  top: calc( ((var(--scale-ratio) - 1) * var(--height-length) ) / 2);
  border: 1px solid #ff6a00;
  position: absolute;
  transform: scale(var(--scale-ratio),var(--scale-ratio));
*/
}

.zooming {
	overflow: hidden;
    height: 200px;
    position: relative
}

.foge{
	width: 80%;	
}

.card-rounded-7 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.7rem;
}

.card-image {
	transition: all 0.5s ease;
    max-width: 240px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
	max-height: 190px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn-favorite {
	position: absolute;
	left: 77%;
	bottom: 1%;
}

.list-favorite {
	position: absolute;
	bottom: 30%;
	left: 85%;
}

#favorite:hover {
	transform: scale(1.2);
	color: red;
}

.fa-heart {
	color: red;
}

.list-avatar {
	width: 100px;
}

.list-name {
	width: 70%;
}

.moodle-container{
	margin: 0 1rem 1rem 1rem!important;
	position: absolute;
	bottom: 0;
	/*
	*/
}

.moodle-container ul{
	margin: 0;
}

/*

@media (min-width: 1000px){
	.win-1300-3 {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	}
}


@media (min-width: 768px){
	.col-md-4 {
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
}

*/
