<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta th:name="_csrf" th:content="${_csrf.token}" />
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/css/chatRoom.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<meta th:replace="fragments/Scripts :: scripts">
    <title>チャットルーム</title>
</head>
<body>
	<div class="cover"></div>
	<div th:replace="fragments/Sidenav :: sidenav"></div>
		<!-- 表示内容 -->
	<div class="main ">
		<div th:replace="fragments/Header :: header"></div>
		<div class="container">
			<div id="chat-page">
			    <div class="chat-container mx-4">
			        <div class="chat-header">
			            <h2>ChatBox Tupi</h2>
			        </div>
			        <div th:if="${messageHist.isEmpty() || messageHist.get(0).fromUserId == 0}">
				        <div class="connecting mt-1">Let's start...</div>
			        </div>
			        <ul id="messageArea" class="mt-2">
						<th:block 	th:unless="${messageHist.isEmpty() || messageHist.get(0).fromUserId == 0}" 
									th:each="chatMsg : ${messageHist}">
							<!-- fromUser -->
							<th:block th:if="${chatMsg.fromUserId == #authentication.principal.id}">
								<li class="chat-message">
									<i style="background-color: rgb(255, 152, 0);">初</i>
				                	<span th:text="${chatMsg.fromUser}"></span>
				                	<p th:text="${chatMsg.content}"></p>
				                	<small th:text="${chatMsg.AVF}"></small>
								</li>
							</th:block>
							<!-- toUser -->
							<th:block th:if="${chatMsg.fromUserId != #authentication.principal.id}">
								<li class="chat-message">
									<i style="background-color: rgb(33, 150, 243);">f</i>
				                	<span th:text="${chatMsg.toUser}"></span>
				                	<p th:text="${chatMsg.content}"></p>
				                	<small th:text="${chatMsg.AVF}"></small> -- 
				                	<small th:text="${chatMsg.toUser}"></small>
								</li>
							</th:block>
						</th:block>
			        </ul>
			        <form id="messageForm" name="messageForm" nameForm="messageForm">
			            <div class="form-group">
			                <div class="input-group clearfix mt-2">
			                    <input type="text" id="message" placeholder="Digite uma mensagem..."
			                           autocomplete="off" class="form-control" />
			                    <button type="submit" class="primary">Enviar</button>
			                </div>
			            </div>
		                <input type="hidden" id="userId" th:value="${#authentication.principal.id}"/>
		                <input type="hidden" id="name" th:value="${#authentication.principal.username}"/>
	              		<input type="hidden" id="toUserId" th:value="${messageHist.get(0).toUserId}"/> 
	       	        </form>
			    </div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/Toast :: toast"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chatRoom.js"></script>
</body>
</html>