<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta th:name="_csrf" th:content="${_csrf.token}" />
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/css/chatRoom.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<meta th:replace="fragments/Scripts :: scripts">
    <title>チャットルーム</title>
</head>
<body>
	<div class="cover"></div>
	<div th:replace="fragments/Sidenav :: sidenav"></div>
		<!-- 表示内容 -->
	<div class="main ">
		<div th:replace="fragments/Header :: header"></div>
		<div class="container">
			<div id="chat-page">
			    <div class="chat-container mx-4">
			        <div class="chat-header">
			            <h2>ChatBox Tupi</h2>
			        </div>
			        <div th:if="${messageHist.isEmpty() || messageHist.get(0).fromUserId == 0}">
				        <div class="connecting mt-1">Let's start...</div>
			        </div>
			        <ul id="messageArea" class="mt-2">
						<th:block th:unless="${messageHist.isEmpty() || messageHist.get(0).fromUserId == 0}" 
								  th:each="chatMsg : ${messageHist}">
							<!-- fromUser -->
								<li class="chat-message text-end" 
									th:if="${chatMsg.fromUserId == #authentication.principal.id}">
									<img class="fromUserImg" th:src="${chatMsg. fromUserIcon.encodedString}"  />
				                	<span th:text="${chatMsg.fromUser}"></span>
				                	<p th:text="${chatMsg.content}"></p>
				                	<small th:text="${chatMsg.AVF}"></small>
				                	<br>
				                	<!-- 
									<a  th:if="${chatMsg.deleteFlg == 0}"
										th:href="|@{/websocket/DeleteMessage.do}?id=${chatMsg.msgId}"
									    class="text-decoration-none text-end" id="deleteMsg">
										<small>メッセージ削除</small>
									</a>
									
			       					<form id="deleteMsgForm" name="deleteMsgForm" nameForm="deleteMsgForm" method="post">
			                  			<button type="submit" >メッセージ削除</button>
		               					<input type="hidden" id="msgId" th:value="${chatMsg.msgId}" />
			       					</form>
			       					
									<a  th:if="${chatMsg.deleteFlg == 1}"
										th:href="|@{/websocket/restoreMessage.do}?id=${chatMsg.msgId}"
									    class="text-decoration-none text-end">
										<small>復元</small>
		              					<input type="hidden" th:value="${chatMsg.msgId}"/>
									</a>
				                	 -->
				                	 
			       					<!-- 削除 -->
									<a th:if="${chatMsg.deleteFlg == 0}" th:value="${chatMsg.msgId}"
									    class="text-decoration-none text-end" onclick="deleterMsg(event,this)">
										<small>メッセージ削除</small>
		              					<input type="hidden" th:value="${chatMsg.msgId}"/>
									</a>
									<!-- 復元 -->
									<a  th:if="${chatMsg.deleteFlg == 1}" th:value="${chatMsg.msgId}"
									    class="text-decoration-none text-end" onclick="deleterMsg(event,this)">
										<small>復元</small>
		              					<input type="hidden" th:value="${chatMsg.msgId}"/>
									</a>
									
								</li>
								<li class="chat-message"
									th:if="${chatMsg.toUserId == #authentication.principal.id}">
									<a th:href="|@{/profile/UserProfile.html}?id=${chatMsg.fromUserId}|">
										<img class="toUserImg" th:src="${chatMsg.fromUserIcon.encodedString}" />
									</a>
				                	<span th:text="${chatMsg.fromUser}"></span>
				                	<p th:text="${chatMsg.content}"></p>
				                	<small th:text="${chatMsg.AVF}"></small>
								</li>
						</th:block>
			        </ul>
			        <form id="messageForm" name="messageForm" nameForm="messageForm" method="post">
			            <div class="form-group">
			                <div class="input-group clearfix mt-2">
			                    <input type="text" id="message" placeholder="Digite uma mensagem..."
			                           autocomplete="off" class="form-control" />
			                    <button type="submit" class="primary">Enviar</button>
			                </div>
			            </div>
		                <input type="hidden" id="userId" th:value="${#authentication.principal.id}"/>
		                <input type="hidden" id="name" th:value="${#authentication.principal.username}"/>
	              		<input type="hidden" id="fromUserId" th:value="${idSet.fromUserId}"/> 
	              		<input type="hidden" id="toUserId" th:value="${idSet.toUserId}"/> 
	       	        </form>
			    </div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/Toast :: toast"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chatRoom.js"></script>
</body>
</html>