<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head_fragment(title = 'エラーページ', links = ~{::link}, scripts = ~{::script})">
	<link rel="stylesheet" th:href="@{/css/errorPage.css}">
	<script type="text/javascript" th:src="@{/}"></script>
</head>
<body>
	<!-- サイドバー -->
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/Sidenav :: sidenav"></div>
		<main class="page-content animsition">
			<div class="fof">
				<h1>Error 404</h1>
			</div>
		</main>
		<!-- page-content" -->
	</div>
	<!-- page-wrapper -->
</body>
</html>