<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head_fragment(title = 'エラーページ', links = ~{::link})">
<link rel="stylesheet" th:href="@{/css/errorPage.css}">
</head>
<body>
	<div class="cover"></div>
	<div th:replace="fragments/Sidenav :: sidenav"></div>
	<div class="main animsition">
		<div th:replace="fragments/Header :: header"></div>
		<div id="main">
		      <div class="fof">
		            <h1>Error 404</h1>
		      </div>
		</div>
	</div>
</body>
</html>