<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- メディアクエリ -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/login.css}">
<!-- JS -->
<meta th:replace="fragments/Scripts :: scripts">

<title>ログイン</title>
</head>
<body>
	<div id="body"></div>
	<div id="grad"></div>
	<div class="header">
		<div>Klein<span>.Netwerk</span></div>
	</div>
	<br>
	<div class="login">
		<form th:action="@{/Login.do}" method="post" style="width: 360px;" autocomplete="off">
			<div class="py-1" th:if="${authenticationException}">
				<span class="text-danger" th:text="${authenticationException.message}"></span>
			</div>					
			<input type="email" id="email" name="email" placeholder="email" />
			<input type="password" id="password" name="password" placeholder="password" />
			<div class="d-grid">
				<button type="submit">Login</button>
				<button type="button" data-bs-toggle="modal" 
						data-bs-target="#registrationForm">SignUp</button>
			</div>
		</form>
	</div>
		<div class="modal fade" id="registrationForm">
			<div class="modal-dialog">
				<form class="modal-content" th:action="@{/UserRegistration.do}" autocomplete="off" method="post">
					<div class="modal-header">
						<h5 class="modal-title">初期ユーザー登録フォーム</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body">
						<div class="mb-2">
							<input type="email" placeholder="email" id="email" name="email" required="required" />
						</div>
						<div class="mb-2">
							<input type="password" placeholder="password" id="password" name="password" required="required" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit">SignUp</button>
					</div>
				</form>
			</div>
		</div>
	<div th:replace="fragments/Toast :: toast"></div>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/components.js}"></script>
</body>
</html>