<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head_fragment(title = 'ログイン', links = ~{::link}, scripts = ~{::script})">
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<script type="text/javascript" th:src="@{/}"></script>
</head>
<body>
	<div id="body"></div>
	<div id="grad"></div>
	<div class="header">
		<div>Klein<span>.Netwerk</span></div>
	</div>
	<br>
	<div class="animsition">
		<div class="login">
			<form th:action="@{/Login.do}" method="post" style="width: 360px;" autocomplete="off">
				<div class="py-1" th:if="${authenticationException}">
					<span class="text-danger" th:text="${authenticationException.message}"></span>
				</div>					
				<input type="email" id="email" name="email" placeholder="email" />
				<input type="password" id="password" name="password" placeholder="password" />
				<div class="d-grid">
					<button type="submit">Login</button>
					<button type="button" data-bs-toggle="modal" 
							data-bs-target="#registrationForm">SignUp</button>
				</div>
			</form>
		</div>
		<div class="modal fade" id="registrationForm">
			<div class="modal-dialog">
				<form class="modal-content" th:action="@{/UserRegistration.do}" autocomplete="off" method="post">
					<div class="modal-header">
						<h5 class="modal-title">初期ユーザー登録フォーム</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body">
						<div class="mb-2">
							<input type="email" placeholder="email" id="email" name="email" required="required" />
						</div>
						<div class="mb-2">
							<input type="password" placeholder="password" id="password" name="password" required="required" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit">SignUp</button>
					</div>
				</form>
			</div>
		</div>
		<div th:replace="fragments/Toast :: toast"></div>
	</div>
</body>
</html>