<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!-- CSS -->
<!-- 
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/component.css}">
 -->
<!-- Less -->
<link rel="stylesheet/less" type="text/css" href="@{/less/style.less}">
<script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
<!-- JS -->
<meta replace="fragments/Scripts :: scripts">

<title>ログイン</title>
</head>
<body>
<!DOCTYPE html>
<html>
<!-- 
<html xmlns:th="http://www.thymeleaf.org">
 -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!-- CSS -->
<!-- 
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/component.css}">
 -->
<!-- Less -->
<link rel="stylesheet/less" type="text/css" href="static/less/style.less">
<script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
<!-- JS -->
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/components.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<title>ログイン</title>
</head>
<body>
	<div class="wrapper">
		<div class="container">
		<h1>Klein.Netwerk</h1>
			    
			<form>
			<!-- 
			<form th:action="@{/Login.do}" method="post" style="width: 360px;"
			autocomplete="off">
			 -->
				<input type="email" id="email" name="email" placeholder="E-Mail"/>
				<input type="password" id="password" name="password" placeholder="Password">
				<!-- 
					<div class="py-1" th:if="${authenticationException}">
						<span class="text-danger" th:text="${authenticationException.message}"></span>
					</div>
				 -->
				<button type="submit" id="login-button">Login</button>
					<!-- 
				<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
					data-bs-target="#registrationForm">SignUp</button>
					 -->
			</form>
		</div>
 
	  <ul class="bg-bubbles">
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	  </ul>
	</div>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- 
	<div th:replace="fragments/Toast :: toast"></div>
	 -->
</body>
<!-- Scripts -->
<!-- 
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<div th:replace="fragments/Toast :: toast"></div>
 -->
</html>