<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head_fragment(title = 'ホーム', links = ~{::link})">
	<link rel="stylesheet" th:href="@{/css/top.css}">
</head>
<body>
	<div class="cover"></div>
	<div th:replace="fragments/Sidenav :: sidenav"></div>

	<div class="main d-flex flex-column">
		<div th:replace="fragments/Header :: header"></div>
		<!-- 表示内容 -->
		<div class="container-fluid py-3">
			<main>
			<!-- slide -->
				<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
					<ol class="carousel-indicators">
						<li data-bs-target="#myCarousel" data-bs-slide-to="0"
							class="active" id="top"></li>
						<li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
						<li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">

						<!-- 1 -->
						<div class="carousel-item active">
							<svg class="bd-placeholder-img" width="100%" height="330"
								xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
								preserveAspectRatio="xMidYMid slice" focusable="false">
								<rect width="100%" height="100%" fill="#8bc4db" />
							</svg>
							<div class="container">
								<div class="carousel-caption text-start">
									<h2>ホームページをリニューアルしました。</h2>
									<p>2021/10/11、ホームページをリニューアルしました。従業員情報の検索の機能、コミュニティ機能、ファイルの共有機能が新たに加わりました。</p>
									<p>
										<a class="btn btn-primary" href="#detail" role="button">詳細を見る</a>
									</p>
								</div>
							</div>
						</div>
						<!-- 2 -->
						<div class="carousel-item">
							<svg class="bd-placeholder-img" width="100%" height="330"
								xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
								preserveAspectRatio="xMidYMid slice" focusable="false">
							<rect width="100%" height="100%" fill="#6ad3c6" /></svg>

							<div class="container">
								<div class="carousel-caption text-start">
									<h2>当サイトのソースコードの公開</h2>
									<p>当サイトのソースコードは、Githubにて公開されています。また、ソースコードをローカル環境で動かす方法も書き加えております。詳しくは"Read.Me"を参照してください。</p>
									<p>
										<a class="btn btn-primary"
											href="https://github.com/Kouya-Ajima/Internal-Community-Web"
											role="button">Githubへ移動</a>
									</p>
								</div>
							</div>
						</div>
						<!-- 3 -->
						<div class="carousel-item">
							<svg class="bd-placeholder-img" width="100%" height="330"
								xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
								preserveAspectRatio="xMidYMid slice" focusable="false">
								<rect width="100%" height="100%" fill="#d3af86" />
							</svg>

							<div class="container">
								<div class="carousel-caption text-start">
									<h2>ドローン開発に成功しました。</h2>
									<p>顔認証でドローンが人間を追従したり、スマホからの操作で移動したり写真を撮ったりする事もできます。詳しくは下記の動画を御覧ください。</p>
									<p>
										<a class="btn btn-primary" href="#" role="button">ドローンの紹介動画をみる</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- カーソル -->
					<a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev"> 
						<span class="carousel-control-prev-icon" aria-hidden="true"></span> 
						<span class="visually-hidden">前へ</span>
					</a> 
					<a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next"> 
						<span class="carousel-control-next-icon" aria-hidden="true"></span> 
						<span class="visually-hidden">次へ</span>
					</a>
				</div>
			<!-- slide end -->
				<br>

				<div class="container marketing">
					<!-- Three columns of text below the carousel -->
					<div class="row">

						<h2 class="mt-4 pb-1 border-bottom">About Klein.Netwerk</h2>
						<div class="mb-4 about">
							"Klein.Netwerk" は社内コミュニティの活性化を目的とした小規模コミュニティシステムです。<br>
							会社内の共通点を持ってる人を探すサービスで、趣味や自己紹介文などを登録しておくと同じ趣味の人をサジェストします。<br>
							「ユーザー情報一覧機能、コミュニティ機能、ファイル共有機能」があり、各機能はログイン中のユーザーのユーザー権限によって機能が制限されています。<br>
							※ユーザー権限には「USER・MANAGER・ADMIN」の3つがあります。
						</div>
						<!-- 題名 -->
						<h2 class="col-12 text-start mt-5 mb-3 pb-1 border-bottom"
							id="detail">機能一覧</h2>
						<!-- 1 -->
						<div class="col-lg-4 mb-3">
							<svg class="bd-placeholder-img rounded-circle" width="140"
								height="140" xmlns="http://www.w3.org/2000/svg" role="img"
								aria-label="Placeholder: 140x140"
								preserveAspectRatio="xMidYMid slice" focusable="false">
								<title>Placeholder</title>
								<rect width="100%" height="100%" fill="#777" />
								<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
							<h4 class="mt-2">ユーザー管理機能</h4>
							<p>「ユーザ情報の検索機能、ユーザー情報の詳細閲覧機能、新規登録機能、ユーザー情報の変更機能、ユーザー削除機能」があり、ユーザーの権限によって処理が制限されます。</p>
							<p class="detail">
								<a class="btn btn-secondary" href="#users" role="button">権限・機能の詳細へ
									&raquo;</a>
							</p>
						</div>
						<!-- 2 -->
						<!-- /.col-lg-4 -->
						<div class="col-lg-4 mb-3">
							<svg class="bd-placeholder-img rounded-circle" width="140"
								height="140" xmlns="http://www.w3.org/2000/svg" role="img"
								aria-label="Placeholder: 140x140"
								preserveAspectRatio="xMidYMid slice" focusable="false">
								<title>Placeholder</title>
								<rect width="100%" height="100%" fill="#777" />
								<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
							</svg>

							<h4 class="mt-2">掲示板機能</h4>
							<p>「トピック作成機能、コメント投稿機能、投稿評価機能、投稿編集機能、トピック削除機能、投稿削除機能」があり、ユーザーの権限によって処理が制限されます。</p>
							<p class="detail">
								<a class="btn btn-secondary" href="#community" role="button">権限・機能の詳細へ
									&raquo;</a>
							</p>
						</div>
						<!-- 3 -->
						<!-- /.col-lg-4 -->
						<div class="col-lg-4 mb-3">
							<svg class="bd-placeholder-img rounded-circle" width="140"
								height="140" xmlns="http://www.w3.org/2000/svg" role="img"
								aria-label="Placeholder: 140x140"
								preserveAspectRatio="xMidYMid slice" focusable="false">
								<title>Placeholder</title>
								<rect width="100%" height="100%" fill="#777" />
								<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
							</svg>

							<h4 class="mt-2">ファイル共有機能</h4>
							<p>「フォルダ作成機能、ファイル投稿機能、（ファイル削除、フォルダ削除、フォルダ名変更）」があり、ユーザーの権限によって処理が制限されます。</p>
							<p class="detail">
								<a class="btn btn-secondary" href="#fileSharing" role="button">権限・機能の詳細へ
									&raquo;</a>
							</p>
						</div>
						<!-- /.col-lg-4 -->
					</div>
					<!-- /.row -->


					<!-- START THE FEATURETTES -->
					<!-- 機能詳細 -->
					<hr class="featurette-divider mt-4">

					<!-- Users -->
					<div class="row featurette" id="users">
						<div class="col-md-7">
							<div class="fs-6">
								<h3 class="featurette-heading mt-3">
									<span class="text-muted">ユーザー情報一覧機能詳細</span>
								</h3>
								<div>検索欄が全て空白の場合は全件検索を行い、入力値がある場合はその値であいまい検索を行います。</div>
								<div>編集を押下するとユーザーのプロフィールが表示されます。</div>

								<h4 class="featurette-heading mt-3">
									<span class="text-muted">権限</span>
								</h4>
								<div>ユーザー情報一覧機能の編集画面では、ログイン中のユーザー権限によって変更・削除処理を制御しています。</div>

								<dl id="acMenu" class="mt-3">

									<dt>USER</dt>
									<dd>
										<table
											class="mt-1 mb-3 text-center table table-sm table-striped table-hover table-bordered">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">変更</th>
													<th scope="col">削除</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row" class="text-start">自分の情報</th>
													<td>&#9675;</td>
													<td>&times;</td>
												</tr>
												<tr>
													<th scope="row" class="text-start">全て</th>
													<td>&times;</td>
													<td>&times;</td>
												</tr>
											</tbody>
										</table>
									</dd>

									<dt>MANAGER</dt>
									<dd>
										<table
											class="mt-1 mb-4 table table-sm table-striped table-hover text-center table-bordered">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">変更</th>
													<th scope="col">削除</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row" class="text-start">自分の情報</th>
													<td>&#9675;</td>
													<td>&times;</td>
												</tr>
												<tr>
													<th scope="row" class="text-start">全て</th>
													<td>&times;</td>
													<td>&#9675;</td>
												</tr>
											</tbody>
										</table>
									</dd>

									<dt>ADMIN</dt>
									<dd>
										<table
											class="mt-1 mb-4 table table-sm table-striped table-hover text-center table-bordered">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">変更</th>
													<th scope="col">削除</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row" class="text-start">自分の情報</th>
													<td>&#9675;</td>
													<td>&times;</td>
												</tr>
												<tr>
													<th scope="row" class="text-start">全て</th>
													<td>&#9675;</td>
													<td>&#9675;</td>
												</tr>
											</tbody>
										</table>
									</dd>

								</dl>
							</div>
						</div>

						<div class="col-md-5">
							<svg
								class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
								width="500" height="500" xmlns="http://www.w3.org/2000/svg"
								role="img" aria-label="Placeholder: 500x500"
								preserveAspectRatio="xMidYMid slice" focusable="false">
						<title>Placeholder</title><rect width="100%" height="100%"
									fill="#eee" />
						<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

						</div>
					</div>

					<hr class="featurette-divider">

					<!-- Community -->
					<div class="row featurette" id="community">
						<div class="col-md-7 order-md-2">
							<div class="fs-6">
								<h3 class="featurette-heading mt-3">
									<span class="text-muted">コミュニティ機能詳細</span>
								</h3>
								<div>検トピックを作成し、作成されたトピックに対してコメントを投稿する事ができます。</div>
								<div>投稿に対して、1ユーザー、1つの投稿に対し、Like・Bad
									のいずれか1件までの評価を付けることができます。</div>

								<h4 class="featurette-heading mt-3">
									<span class="text-muted">権限</span>
								</h4>
								<div>コミュニティ機能では、ログイン中のユーザー権限によってトピックや投稿の編集・削除を処理を制御しています。</div>

								<dl id="acMenu" class="mt-3">

									<dt>USER</dt>
									<dd>
										<table
											class="mt-1 mb-3 text-center table table-sm table-striped table-hover table-bordered">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">変更</th>
													<th scope="col">削除</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row" class="text-start">自分のトピック・投稿</th>
													<td>&#9675;</td>
													<td>&#9675;</td>
												</tr>
												<tr>
													<th scope="row" class="text-start">全て</th>
													<td>&times;</td>
													<td>&times;</td>
												</tr>
											</tbody>
										</table>
									</dd>

									<dt>MANAGER</dt>
									<dd>
										<table
											class="mt-1 mb-4 table table-sm table-striped table-hover text-center table-bordered">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">変更</th>
													<th scope="col">削除</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row" class="text-start">自分のトピック・投稿</th>
													<td>&#9675;</td>
													<td>&#9675;</td>
												</tr>
												<tr>
													<th scope="row" class="text-start">全て</th>
													<td>&times;</td>
													<td>&#9675;</td>
												</tr>
											</tbody>
										</table>
									</dd>

									<dt>ADMIN</dt>
									<dd>
										<table
											class="mt-1 mb-4 table table-sm table-striped table-hover text-center table-bordered">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">変更</th>
													<th scope="col">削除</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row" class="text-start">自分のトピック・投稿</th>
													<td>&#9675;</td>
													<td>&#9675;</td>
												</tr>
												<tr>
													<th scope="row" class="text-start">全て</th>
													<td>&#9675;</td>
													<td>&#9675;</td>
												</tr>
											</tbody>
										</table>
									</dd>

								</dl>
							</div>
						</div>

						<div class="col-md-5 order-md-1">
							<svg
								class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
								width="500" height="500" xmlns="http://www.w3.org/2000/svg"
								role="img" aria-label="Placeholder: 500x500"
								preserveAspectRatio="xMidYMid slice" focusable="false">
						<title>Placeholder</title><rect width="100%" height="100%"
									fill="#eee" />
						<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

						</div>
					</div>

					<hr class="featurette-divider">

					<!-- Community -->
					<div class="row featurette" id="fileSharing">
						<div class="col-md-7">
							<div class="fs-6">
								<h3 class="featurette-heading mt-3">
									<span class="text-muted">ファイル共有機能詳細</span>
								</h3>
								<div>フォルダの作成やファイル共有などが行え、共有されたファイルを保存したりできます。</div>

								<h4 class="featurette-heading mt-3">
									<span class="text-muted">権限</span>
								</h4>
								<div>ファイル共有機能では、ログイン中のユーザー権限によってファイルの・フォルダのリネーム・削除処理を制御しています。</div>

								<dl id="acMenu" class="mt-3">

									<dt>USER</dt>
									<dd>
										<table
											class="mt-1 mb-3 text-center table table-sm table-striped table-hover table-bordered">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">リネーム</th>
													<th scope="col">削除</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row" class="text-start">ファイル</th>
													<td>&#9675;</td>
													<td>&times;</td>
												</tr>
												<tr>
													<th scope="row" class="text-start">フォルダ</th>
													<td>&#9675;</td>
													<td>&times;</td>
												</tr>
											</tbody>
										</table>
									</dd>

									<dt>MANAGER</dt>
									<dd>
										<table
											class="mt-1 mb-4 table table-sm table-striped table-hover text-center table-bordered">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">リネーム</th>
													<th scope="col">削除</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row" class="text-start">ファイル</th>
													<td>&#9675;</td>
													<td>&#9675;</td>
												</tr>
												<tr>
													<th scope="row" class="text-start">フォルダ</th>
													<td>&#9675;</td>
													<td>&#9675;</td>
												</tr>
											</tbody>
										</table>
									</dd>

									<dt>ADMIN</dt>
									<dd>
										<table
											class="mt-1 mb-4 table table-sm table-striped table-hover text-center table-bordered">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">リネーム</th>
													<th scope="col">削除</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row" class="text-start">ファイル</th>
													<td>&#9675;</td>
													<td>&#9675;</td>
												</tr>
												<tr>
													<th scope="row" class="text-start">フォルダ</th>
													<td>&#9675;</td>
													<td>&#9675;</td>
												</tr>
											</tbody>
										</table>
									</dd>

								</dl>
							</div>
						</div>

						<div class="col-md-5">
							<svg
								class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
								width="500" height="500" xmlns="http://www.w3.org/2000/svg"
								role="img" aria-label="Placeholder: 500x500"
								preserveAspectRatio="xMidYMid slice" focusable="false">
						<title>Placeholder</title><rect width="100%" height="100%"
									fill="#eee" />
						<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

						</div>
					</div>

					<hr class="featurette-divider">

					<!-- /END THE FEATURETTES -->

				</div>
				<!-- /.container -->
				<!-- FOOTER -->
				<footer class="container">
					<p class="float-end">
						<a href="#top">トップに戻る</a>
					</p>
					<p>
						&copy; 2017-2021 Company, Inc. &middot; <a href="#">プライバシー</a>
						&middot; <a href="#">利用規約</a>
					</p>
				</footer>
			</main>
			<!-- content end -->
		</div>
	</div>
</body>
</html>