<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="about" th:remove="tag" >
		<!-- About -->
		<div class="featurette-divider">
			<h2 class="border-bottom pb-1">About Klein.Netwerk</h2>
			<div class="about">
				"Klein.Netwerk" は社内コミュニティの活性化を目的とした小規模コミュニティシステムです。<br>
				会社内の共通点を持ってる人を探すサービスで、趣味や自己紹介文などを登録しておくと同じ趣味の人をサジェストします。<br>
				「ユーザー情報一覧機能、コミュニティ機能、ファイル共有機能」があり、各機能はログイン中のユーザーのユーザー権限によって機能が制限されています。<br>
				※ユーザー権限には「USER・MANAGER・ADMIN」の3つがあります。
			</div>
		</div>
		<!-- 機能一覧 -->
		<div class="row featurette-divider functions-detail">
			<h2 class="border-bottom pb-1" id="func">機能一覧</h2>
			<!-- 1 -->
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140"
					height="140" xmlns="http://www.w3.org/2000/svg" role="img"
					aria-label="Placeholder: 140x140"
					preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Placeholder</title>
					<rect width="100%" height="100%" fill="#777" />
					<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
				<h4 class="mt-2">ユーザー管理機能</h4>
				<p>「ユーザ情報の検索機能、ユーザー情報の詳細閲覧機能、新規登録機能、ユーザー情報の変更機能、ユーザー削除機能」があり、ユーザーの権限によって処理が制限されます。</p>
				<p class="detail">
					<a class="btn btn-secondary" href="#users" role="button">権限・機能の詳細へ &raquo;</a>
				</p>
			</div>
			<!-- 2 -->
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140"
					 height="140" xmlns="http://www.w3.org/2000/svg" role="img"
					 aria-label="Placeholder: 140x140"
					 preserveAspectRatio="xMidYMid slice" focusable="false">
					 <title>Placeholder</title>
					 <rect width="100%" height="100%" fill="#777" />
					 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
				</svg>
				<h4 class="mt-2">掲示板機能</h4>
				<p>「トピック作成機能、コメント投稿機能、投稿評価機能、投稿編集機能、トピック削除機能、投稿削除機能」があり、ユーザーの権限によって処理が制限されます。</p>
				<p class="detail">
					<a class="btn btn-secondary" href="#community" role="button">権限・機能の詳細へ &raquo;</a>
				</p>
			</div>
			<!-- 3 -->
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140"
					 height="140" xmlns="http://www.w3.org/2000/svg" role="img"
					 aria-label="Placeholder: 140x140"
					 preserveAspectRatio="xMidYMid slice" focusable="false"> 
					 <title>Placeholder</title>
					 <rect width="100%" height="100%" fill="#777" />
					 <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
				</svg>
				<h4 class="mt-2">ファイル共有機能</h4>
				<p>「フォルダ作成機能、ファイル投稿機能、（ファイル削除、フォルダ削除、フォルダ名変更）」があり、ユーザーの権限によって処理が制限されます。</p>
				<p class="detail">
					<a class="btn btn-secondary" href="#fileSharing" role="button">権限・機能の詳細へ &raquo;</a>
				</p>
			</div>
		</div>
		<hr class="featurette-divider">
	</div>
</body>
</html>