<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head_fragment(title = 'ホーム', links = ~{::link}, scripts = ~{::script})">
	<!-- Top CSS -->
	<link rel="stylesheet" th:href="@{/css/top.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
		  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
		  crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	 		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
	 		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
			crossorigin="anonymous"></script>
			
	<!-- Smooth scroll JS -->
	<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.0/smooth-scroll.min.js}"></script>
	<!-- verge JS -->
	<script src="https://cdn.jsdelivr.net/npm/vergejs@latest/index.min.js"></script>
	<script src="https://unpkg.com/vergejs@1.0.0/index.js"></script>
	<!-- masonry -->
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<!-- topPage.js -->
	<script type="text/javascript" th:src="@{/js/topPage.js}"></script>
</head>
<body>
	<!-- サイドバー -->
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/Sidenav :: sidenav"></div>
		
		<main class="page-content animsition">
			<div class="page-scroll">

			<!-- Header -->
			<header class="page-header" id="page-header">
				<div class="container-fluid container-fluid-max">
					<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
						<a class="navbar-brand text-decoration-none" href="#home">BIMbox</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" 
								data-target="#navbarNav" aria-controls="navbarNav" 
								aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-lg-between" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="#about">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#details">Details</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#pickUp">Pick Up</a>
								</li>
							</ul>
							<div class="auther-link">
								<a href="https://twitter.com/oko_zk" target="_blank" class="mr-2">
									<i class="fab fa-twitter"></i>
									<div class="d-none d-xl-inline">Twitter</div>
								</a>
								<a href="mailto:ajimabass@gmail.com" target="_blank">
									<i class="fas fa-envelope"></i>
									<div class="d-none d-xl-inline">Gmail</div>
								</a>
							</div>
						</div>
					</nav>
				</div>
			</header>

			<!-- Main -->
			<div class="main-content">
			
				<!-- top -->
				<section id="home" class="d-flex align-items-center position-relative cover hero">
					<div class="container-fluid container-fluid-max">
						<div class="row">
							<div class="col-12 col-md-8 col-lg-6 col-xl-5">
								<h1 class="text-white">Welcom to BIMbox!</h1>
								<p class="text-white text-left">
									"BIMbox" はシェアハウスでのコミュニティの活性化を目的とした掲示板型チャットサービスです。
								</p>
								<div class="text-center">
									<a class="btn learn-more mt-4" href="#about" role="button">
										<span class="pe-1">Next</span>
										<i class="fas fa-caret-down"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<!-- about -->
				<section id="about">
					<div class="container-fluid container-fluid-max">
						<div class="row text-center">
							<div class="col-12 section-title">
								<h2 class="text-red">About BIMbox</h2>
							</div>
							<div class="col-12 col-sm-6 col-lg-3">
								<span class="fa-stack fa-2x">
									<i class="fas fa-circle fa-stack-2x text-red"></i>
									<i class="fas fa-icons fa-stack-1x text-white"></i>
								</span>
								<h3 class="mt-3 text-red h4">User Suggest</h3>
								<p>プロフィールに趣味を登録しておくと、コミュニティー内で共通点を持ってる人を探しその人物をサジェストします。</p>
							</div>
							<div class="col-12 col-sm-6 col-lg-3">
								<span class="fa-stack fa-2x">
									<i class="fas fa-circle fa-stack-2x text-red"></i>
									<i class="fas fa-address-book fa-stack-1x text-white"></i>
								</span>
								<h3 class="mt-3 text-red h4">Search for a user</h3>
								<p>いつでも気になるユーザーの情報を検索する事ができ、自分と気が合いそうなユーザーを見つける事ができます。</p>
							</div>
							<div class="col-12 col-sm-6 col-lg-3">
								<span class="fa-stack fa-2x">
									<i class="fas fa-circle fa-stack-2x text-red"></i>
									<i class="fas fa-globe fa-stack-1x text-white"></i>
								</span>
								<h3 class="mt-3 text-red h4">Share idea, photo</h3>
								<p>アイデアや写真などをシェアする事ができ、コミュニティー内でのみ公開されます。（匿名投稿機能を追加予定です。）</p>
							</div>
							<div class="col-12 col-sm-6 col-lg-3">
								<span class="fa-stack fa-2x">
									<i class="fas fa-circle fa-stack-2x text-red"></i>
									<i class="fas fa-comments fa-stack-1x text-white"></i>
								</span>
								<h3 class="mt-3 text-red h4">1 on 1 chat</h3>
								<p>気になるユーザーとの１対１のチャットルームを作る事ができます。まずは趣味の合う人を見つけてメッセージを送ってみましょう。</p>
							</div>
							<div class="col-12">
								<a class="btn learn-more"  href="#details" role="button">
									<span class="pe-1">Next</span>
									<i class="fas fa-caret-down"></i>
								</a>
							</div>
						</div>
					</div>
				</section>
				
				
				<!-- details -->
				<section id="details">
					<div id="page-bussiness" class="container-fluid container-fluid-max">
						<div class="row wrap">
							<div class="col-12 section-title">
								<h2 class="text-red text-center">Function Details</h2>
							</div>
							<div class="function-content">
								<div class="flip-container">
									<div class="flipper">
										<figure class="position-relative overflow-hidden text-white front">
											<img class="img-fluid" src="/img/functions/1_Profile.html_id=119.png" alt="Porto">
											<figcaption class="d-flex align-items-center justify-content-center position-absolute">
												<h3>Porto</h3>
											</figcaption>
										</figure>
										<div class="back">
											<div class="card-content">
												<h3>Profile</h3>
												<p>自身のプロフィールを編集・更新することができます。</p>
												<p>郵便番号の入力時には住所を自動で補完し入力することができます。</p>
												<p>Admin権限では全てのユーザーのプロフィールを編集・更新することができますが、それ以外の権限では自分のプロフィールのみ編集できます。</p>
											</div>
											<a class="btn btn-secondary more-info" href="#profile-pickUp">More info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="function-content">
								<div class="flip-container">
									<div class="flipper">
										<figure class="position-relative overflow-hidden text-white front">
											<img class="img-fluid" src="/img/functions/2_UserSearch.do.png" alt="Porto">
											<figcaption class="d-flex align-items-center justify-content-center position-absolute">
												<h3>Porto</h3>
											</figcaption>
										</figure>
										<div class="back">
											<div class="card-content">
												<h3>User List</h3>
												<p>BIMboxに登録しているユーザーの一覧を表示する事ができます。現在は最大で８件まで表示できます。</p>
												<p>検索欄では、全て空白の場合は全件検索を行い、入力値がある場合は「ユーザー名・趣味・自己紹介文」の３つのうちのいずれかで曖昧検索を行います。</p>
												<p>ユーザーのアイコンをクリックすることによって、そのユーザーの詳細情報を確認する事ができます。</p>
											</div>
											<a class="btn btn-secondary more-info" href="#userList-pickUp">More info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="function-content">
								<div class="flip-container">
									<div class="flipper">
										<figure class="position-relative overflow-hidden text-white front">
											<img class="img-fluid" src="/img/functions/3_MeetingRoom.html.png" alt="Porto">
											<figcaption class="d-flex align-items-center justify-content-center position-absolute">
												<h3>Porto</h3>
											</figcaption>
										</figure>
										<div class="back">
											<div class="card-content">
												<h3>Community</h3>
												<p>ユーザーが作成したトピックや投稿を閲覧する事ができます。</p>
												<p>投稿をお気に入りして評価する機能もあり、今後はお気に入りにいれた投稿のみを表示する機能を実装する予定です。</p>
												<p>投稿に対するコメントも可能で、コメントと同時に画像も送信することができます。</p>
											</div>
											<a class="btn btn-secondary more-info" href="#Community-pickUp">More info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="function-content">
								<div class="flip-container">
									<div class="flipper">
										<figure class="position-relative overflow-hidden text-white front">
											<img class="img-fluid" src="/img/functions/4_ChatRoom.html.png" alt="Manarola">
											<figcaption class="d-flex align-items-center justify-content-center position-absolute">
												<h3>Manarola</h3>
											</figcaption>
										</figure>
										<div class="back">
											<div class="card-content">
												<h3>Chat Room</h3>
												<p>チャットの記録のあるユーザーとそのチャット履歴を閲覧する事ができます。</p>
												<p>チャットはリアルタイム通信に対応しており、相手からのメッセージをすぐに確認できます。</p>
												<p>
													自身の送信したチャットメッセージはいつでも削除する事ができますが、削除した旨のメッセージが表示され、
													１週間後（現在は３日後に設定）にシステムによって自動的に削除されます。
												</p>
											</div>
											<a class="btn btn-secondary more-info" href="#chatRoom-pickUp">More info</a>
										</div>
									</div>
								</div>
							</div>
						    <div class="lightbox"></div>
						</div>
						<div class="row">
							<div class="col-12 text-center">
								<a class="btn learn-more mt-5" href="#pickUp" role="button">
									<span class="pe-1">Next</span>
									<i class="fas fa-caret-down"></i>
								</a>
							</div>
						</div>
					</div>
				</section>
				
				
				<!-- pickUp -->
				<section id="pickUp">
					<div class="row no-gutters">
						<div class="col-12 section-title">
							<h2 class="text-red text-center">Pick Up Functions</h2>
						</div>
						
						<div class="function-content order-img p-0">
							<img class="orderImgContent" src="/img/pickUp/5_Profile.html_id=119.png">
						</div>
						<div class="function-content order-content minus d-flex align-items-center"
							 id="profile-pickUp">
							<div class="pickUpFunction">
								<h3>ユーザーサジェスト機能</h3>
								<p>
									&nbsp;&nbsp;<strong>プロフィール画面</strong>で趣味を登録しておくと、
									BIMboxに登録しているユーザーで同じ趣味を持っているユーザーをシステムが斡旋し、
									おすすめのユーザーとして一覧にサジェストします。<br>
									&nbsp;&nbsp;現在は趣味のみが対象ですが、
									今後は興味のFavoriteしたトピックや閲覧したユーザーによってもシステム側から提案できるユーザーを増やしていく予定です。
								 </p>
								<p>
									&nbsp;&nbsp;サジェストされているユーザーの情報をタップするとそのユーザーのプロフィール画面に遷移することができます。<br>
									&nbsp;&nbsp;また、そのユーザーと話をしてみたい場合は１対１のチャットルームを作成しチャットを送り合う事ができます。
								 </p>
								<a class="btn learn-more" th:href="|@{/profile/Profile.html}?id=${#authentication.principal.id}|">
									<span>機能へ</span>
									<i class="fas fa-caret-right"></i>
								</a>
							</div>
						</div>
						
						
						<div class="function-content order-content d-flex align-items-center"
							 id="userList-pickUp">
							<div class="pickUpFunction">
								<h3>ユーザー情報詳細表示機能</h3>
								<p>
									&nbsp;&nbsp;<strong>UserList画面</strong>では、ユーザーの画像をタップするとそのユーザーの詳細な情報を閲覧することができます。<br>
									&nbsp;&nbsp;現在は「年齢・誕生日・メールアドレス・趣味・自己紹介文・ユーザー登録日時」の６つの情報が確認できます。
								</p>
								<p>
									&nbsp;&nbsp;ユーザー詳細からはプロフィールやChatルームへも遷移することが可能ですが、
									通信なしでユーザーの情報を確認することができます。<br>
									&nbsp;&nbsp;今後はユーザーのお気に入り機能も実装し、お気に入りのユーザーのみの表示にも対応していく予定です。
								</p>
								<a class="btn learn-more" th:href="@{/manage/users/UserList.html}">
									<span>機能へ</span>
									<i class="fas fa-caret-right"></i>
								</a>
							</div>
						</div>
						<div class="function-content order-img p-0">
							<img class="orderImgContent" src="/img/pickUp/6_UserSearch.do.png">
						</div>
						
						
						<div class="function-content order-img p-0">
							<img class="orderImgContent" src="/img/pickUp/7_MeetingRoom.html.png">
						</div>
						<div class="function-content order-content d-flex align-items-center"
							 id="Community-pickUp">
							<div class="pickUpFunction">
								<h3>新規投稿機能</h3>
								<p>
									&nbsp;&nbsp;<strong>Community画面</strong>では、最下部のアコーディオンメニューから新規トピックの投稿が行えます。<br>
									&nbsp;&nbsp;投稿の題名と投稿内容を入力し、自由にアイデアや個人的なつぶやきを投稿することができます。<br>
									&nbsp;&nbsp;投稿欄の下にはファイルのアップロード欄があり、投稿に画像を追加することも可能です。
								</p>
								<p>
									&nbsp;&nbsp;画像のアップロードはドラッグアンドドロップに対応しており、簡単に投稿したい画像を選択することができます。<br>
									&nbsp;&nbsp;また、投稿した内容やトピックが自身のものであればいつでも自由に削除や編集を実施することが可能です。<br>
									&nbsp;&nbsp;今後は複数枚の画像の投稿にも対応していく予定です。
								</p>
								<a class="btn learn-more" th:href="@{/comms/MeetingRoom.html}">
									<span>機能へ</span>
									<i class="fas fa-caret-right"></i>
								</a>
							</div>
						</div>
						
						
						<div class="function-content order-content d-flex align-items-center"
							 id="chatRoom-pickUp">
							<div class="pickUpFunction">
								<h3>チャットユーザー一覧機能</h3>
								<p>
									&nbsp;&nbsp;<strong>ChatRoom画面</strong>では、チャット中のユーザーを一覧表示で見ることができます。<br>
									&nbsp;&nbsp;現在チャットルームに入室中のユーザーは背景色が変わり、クリックやタップで通信無しでチャットルームに戻ることができます。
							   　</p>
								<p>
									&nbsp;&nbsp;なお、この画面はウィンドウの縮小時に現れ、スマホやタブレットなどにもレスポンシブにも対応しています。<br>
									&nbsp;&nbsp;チャットルームに入室しているユーザーとのチャットはリアルタイムに通信を行っているので、
									今後は新たなチャットが送信されてきた場合に、閲覧していないチャット数を画面表示できるよう改修していく予定です。
								</p>
								<a class="btn learn-more" th:href="@{/conversationTo/ChatRoom.html}">
									<span>機能へ</span>
									<i class="fas fa-caret-right"></i>
								</a>
							</div>
						</div>
						<div class="function-content order-img p-0">
							<img class="orderImgContent" src="/img/pickUp/8_ChatRoom.html_id=213.png">
						</div>
					</div>
				</section>
			</div>
			<!-- main content end -->

		</div>
		</main>
		<!-- page-content" -->
	</div>
	<!-- page-wrapper -->
</body>
</html>
