<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head_fragment(title = 'ホーム', links = ~{::link}, scripts = ~{::script})">
	<!-- Top CSS -->
	<link rel="stylesheet" th:href="@{/css/top.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
		  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
		  crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	 		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
	 		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
			crossorigin="anonymous"></script>
	<!-- Smooth scroll JS -->
	<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.0/smooth-scroll.min.js}"></script>
	<!-- verge JS -->
	<script src="https://cdn.jsdelivr.net/npm/vergejs@latest/index.min.js"></script>
	<script src="https://unpkg.com/vergejs@1.0.0/index.js"></script>
	<!-- masonry -->
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<!-- topPage.js -->
	<script type="text/javascript" th:src="@{/js/topPage.js}"></script>
</head>


<body>

	<!-- サイドバー -->
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/Sidenav :: sidenav"></div>
		
		<main class="page-content animsition">
			<div class="page-scroll">

			<!-- Header -->
			<header class="page-header">
				<div class="container-fluid container-fluid-max">
					<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
						<a class="navbar-brand" href="#home">BIMbox</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" 
								data-target="#navbarNav" aria-controls="navbarNav" 
								aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-lg-between" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="#about">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#features">Available Features</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#details">Feature Details</a>
								</li>
							</ul>
							<div class="text-white">
								<a href="tel:1234567890" class="mr-2">
									<i class="fas fa-phone"></i>
									<div class="d-none d-xl-inline">1234567890</div>
								</a>
								<a href="mailto:xxx@gmail.com">
									<i class="fas fa-envelope"></i>
									<div class="d-none d-xl-inline">xxx@gmail.com</div>
								</a>
							</div>
						</div>
					</nav>
				</div>
			</header>

			<!-- Main -->
			<div class="main-content">
			
				<!-- top -->
				<section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" 
						 style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/cappadocia.jpg);">
					<div class="container-fluid container-fluid-max">
						<div class="row">
							<div class="col-12 col-md-8 col-lg-6 col-xl-5">
								<h1 class="text-white">Welcom to BIMbox!</h1>
								<div class="mt-3">
									<a class="btn bg-red text-white text-left" href="" role="button">
										<br>"BIMbox" はコミュニティの活性化を目的とした
										<br>小規模なコミュニティSNSサービスです。
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<!-- about -->
				<section id="about">
					<div class="container-fluid container-fluid-max">
						<div class="row text-center py-5">
							<div class="col-12 pb-4">
								<h2 class="text-red">About BIMbox</h2>
							</div>
							<div class="col-12 col-sm-6 col-lg-3">
								<span class="fa-stack fa-2x">
									<i class="fas fa-circle fa-stack-2x text-red"></i>
									<i class="fas fa-icons fa-stack-1x text-white"></i>
								</span>
								<h3 class="mt-3 text-red h4">Suggest users</h3>
								<p>プロフィールに趣味や自己紹介などを登録しておくと、コミュニティー内で共通点を持ってる人を探しその人物をサジェストします。</p>
							</div>
							<div class="col-12 col-sm-6 col-lg-3">
								<span class="fa-stack fa-2x">
									<i class="fas fa-circle fa-stack-2x text-red"></i>
									<i class="fas fa-address-book fa-stack-1x text-white"></i>
								</span>
								<h3 class="mt-3 text-red h4">Search for a user</h3>
								<p>いつでも気になるユーザーの情報を検索する事ができ、自分と気が合いそうなユーザーを見つける事ができます。</p>
							</div>
							<div class="col-12 col-sm-6 col-lg-3">
								<span class="fa-stack fa-2x">
									<i class="fas fa-circle fa-stack-2x text-red"></i>
									<i class="fas fa-globe fa-stack-1x text-white"></i>
								</span>
								<h3 class="mt-3 text-red h4">Share ideas, photos, etc</h3>
								<p>自分自身のアイデアやプライベートで撮影した写真などをシェアする事ができ、それはコミュニティー内でのみ公開されます。</p>
							</div>
							<div class="col-12 col-sm-6 col-lg-3">
								<span class="fa-stack fa-2x">
									<i class="fas fa-circle fa-stack-2x text-red"></i>
									<i class="fas fa-comments fa-stack-1x text-white"></i>
								</span>
								<h3 class="mt-3 text-red h4">Open a chat room</h3>
								<p>気になるユーザーとのチャットルームを作る事ができます。まずは趣味の合う人を見つけてメッセージを送ってみましょう。</p>
							</div>
							<div class="col-12 pt-3">
								<a class="btn bg-red text-white" target="_blank" href="" role="button">
									Learn More →
								</a>
							</div>
						</div>
					</div>
				</section>
				
				
				<!-- features -->
				<section id="features" class="py-5">
					<div id="page-bussiness" class="container-fluid container-fluid-max">
						<div class="row wrap">
							<div class="col-12">
								<h2 class="pb-3 text-red">Available Features</h2>
							</div>
							
							
							<div class="col-12 col-sm-6 col-md-4">
								<div class="flip-container">
									<div class="flipper">
										<figure class="position-relative overflow-hidden text-white front">
											<img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/Vienna.jpg" alt="Vienna">
											<figcaption class="d-flex align-items-center justify-content-center position-absolute">
												<h3>Vienna</h3>
											</figcaption>
										</figure>
										<div class="back">
											<div class="card-content">
												<h3>User List</h3>
												<p>検索欄が全て空白の場合は全件検索を行い、入力値がある場合はその値であいまい検索を行います。</p>
												<p>編集を押下するとユーザーのプロフィールが表示されます。</p>
												<p>ユーザー情報一覧機能の編集画面では、ログイン中のユーザー権限によって変更・削除処理を制御しています。</p>
											</div>
											<a class="btn btn-secondary more-info" href="">More info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-4">
								<div class="flip-container">
									<div class="flipper">
										<figure class="position-relative overflow-hidden text-white front">
											<img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/Edinburgh.jpg" alt="Edinburgh">
											<figcaption class="d-flex align-items-center justify-content-center position-absolute">
												<h3>Edinburgh</h3>
											</figcaption>
										</figure>
										<div class="back">
											<div class="card-content">
												<h3>User List</h3>
												<p>検索欄が全て空白の場合は全件検索を行い、入力値がある場合はその値であいまい検索を行います。</p>
												<p>編集を押下するとユーザーのプロフィールが表示されます。</p>
												<p>ユーザー情報一覧機能の編集画面では、ログイン中のユーザー権限によって変更・削除処理を制御しています。</p>
											</div>
											<a class="btn btn-secondary more-info" href="">More info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-4">
								<div class="flip-container">
									<div class="flipper">
										<figure class="position-relative overflow-hidden text-white front">
											<img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/new_york.jpg" alt="New York">
											<figcaption class="d-flex align-items-center justify-content-center position-absolute">
												<h3>New York</h3>
											</figcaption>
										</figure>
										<div class="back">
											<div class="card-content">
												<h3>User List</h3>
												<p>検索欄が全て空白の場合は全件検索を行い、入力値がある場合はその値であいまい検索を行います。</p>
												<p>編集を押下するとユーザーのプロフィールが表示されます。</p>
												<p>ユーザー情報一覧機能の編集画面では、ログイン中のユーザー権限によって変更・削除処理を制御しています。</p>
											</div>
											<a class="btn btn-secondary more-info" href="">More info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="flip-container">
									<div class="flipper">
										<figure class="position-relative overflow-hidden text-white front">
											<img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/porto.jpg" alt="Porto">
											<figcaption class="d-flex align-items-center justify-content-center position-absolute">
												<h3>Porto</h3>
											</figcaption>
										</figure>
										<div class="back">
											<div class="card-content">
												<h3>User List</h3>
												<p>検索欄が全て空白の場合は全件検索を行い、入力値がある場合はその値であいまい検索を行います。</p>
												<p>編集を押下するとユーザーのプロフィールが表示されます。</p>
												<p>ユーザー情報一覧機能の編集画面では、ログイン中のユーザー権限によって変更・削除処理を制御しています。</p>
											</div>
											<a class="btn btn-secondary more-info" href="">More info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="flip-container">
									<div class="flipper">
										<figure class="position-relative overflow-hidden text-white front">
											<img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/manarola.jpg" alt="Manarola">
											<figcaption class="d-flex align-items-center justify-content-center position-absolute">
												<h3>Manarola</h3>
											</figcaption>
										</figure>
										<div class="back">
											<div class="card-content">
												<h3>User List</h3>
												<p>検索欄が全て空白の場合は全件検索を行い、入力値がある場合はその値であいまい検索を行います。</p>
												<p>編集を押下するとユーザーのプロフィールが表示されます。</p>
												<p>ユーザー情報一覧機能の編集画面では、ログイン中のユーザー権限によって変更・削除処理を制御しています。</p>
											</div>
											<a class="btn btn-secondary more-info" href="">More info</a>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col text-center">
								<a class="btn bg-red text-white" href="" role="button">More Destinations ↓</a>
							</div>
						</div>
					    <div class="lightbox"></div>
					</div>
				</section>
				
				
				<!-- details -->
				<section id="details" class="bg-lightblue m-3">
					<div class="row no-gutters">
						<div class="col-12">
							<h2 class="p-2 text-red">Feature Details</h2>
						</div>
						<div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0">
							<div class="p-15">
								<h3>Explore Norway</h3>
								<p>
									<strong>Ålesund</strong>is a town and municipality in Møre og Romsdal County, Norway. It is part of the traditional district of Sunnmøre and the centre of the Ålesund Region. It is a sea port and is noted for its concentration of Art Nouveau architecture. The town of Ålesund is the administrative centre of Ålesund Municipality, as well as the principal shipping town of the Sunnmøre district.</p>
								<p>The 99-square-kilometre (38 sq mi) municipality is the 382nd largest by area out of the 422 municipalities in Norway. Ålesund is the 17th most populous municipality in Norway with a population of 47,199. The municipality's population density is 506.6 inhabitants per square kilometre (1,312/sq mi) and its population has increased by 14% over the last decade.</p>
								<a class="btn bg-red text-white" target="_blank" href="https://en.wikipedia.org/wiki/%C3%85lesund" role="button">Read More →</a>
							</div>
						</div>
						<div class="col-12 col-md-6 order-0 order-md-1">
							<div class="vh-100 cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/norway_700.jpg);">
							</div>
						</div>
						<div class="col-12 col-md-6 order-2">
							<div class="vh-100 cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/germany_700.jpg);">
							</div>
						</div>
						<div class="col-12 col-md-6 d-flex align-items-center order-3">
							<div class="p-15">
								<h3>Explore Germany</h3>
								<p>
									<strong>Neuschwanstein Castle</strong>is a 19th-century Romanesque Revival palace on a rugged hill above the village of Hohenschwangau near Füssen in southwest Bavaria, Germany. The palace was commissioned by Ludwig II of Bavaria as a retreat and in honour of Richard Wagner. Ludwig paid for the palace out of his personal fortune and by means of extensive borrowing, rather than Bavarian public funds.</p>
								<p>The castle was intended as a home for the king, until he died in 1886. It was open to the public shortly after his death. Since then more than 61 million people have visited Neuschwanstein Castle. More than 1.3 million people visit annually, with as many as 6,000 per day in the summer.</p>
								<a class="btn bg-red text-white" target="_blank" href="https://en.wikipedia.org/wiki/Neuschwanstein_Castle" role="button">Read More →</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!-- main content end -->

		</div>
		</main>
		<!-- page-content" -->
	</div>
	<!-- page-wrapper -->
</body>
</html>
